{% extends "my_ummeli_base.xml" %}

{% block content %}
<HEADER><LABEL>Add Connection</LABEL></HEADER>
<CONTAINER type="data">
{{ form.errors_as_pml }}
</CONTAINER>
<CONTAINER  type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Search">
        <TEXT position="ABOVE">Industry:</TEXT>
        <SELECT name="industry">
            <ITEM value='0'>All</ITEM>
            {% for skill in skills %}
                <ITEM value='{{skill.pk}}'>{{skill.word}}</ITEM>
            {% endfor %}
        </SELECT>
        <TEXT position="ABOVE">Province:</TEXT>
        <SELECT name="province">
            <ITEM value='0'>All</ITEM>
            {% for key, value in provinces %}
                <ITEM value='{{key}}'>{{value}}</ITEM>
            {% endfor %}
        </SELECT>
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
<CONTAINER  type="list">
    <LINK href="{% url my_connections %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}