{% extends "base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
    <HEADER><LABEL>Accept connection request</LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    Are you sure you want to connect with {{other_user_profile.fullname}}?
    <br/>
    <br/>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
    mollit anim id est laborum.
    </TEXT>
    </CONTAINER>

    <CONTAINER type="form">
    <FORM method="POST" href="{% url confirm_request other_user_pk %}" submit_text="+ connect">
        <FIELD type='hidden' name='next' value='{{next}}' />
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
    </CONTAINER>
        
{% endblock %}
