{% extends "base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
    <HEADER><LABEL>Connection Requests</LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    {% for other_user in requests %}
        <LINK href="{% url profile_view other_user.pk %}?{{uuid}}">
            <TEXT>{{ other_user.get_profile.fullname }}</TEXT>
        </LINK><br/>
        <LINK href="{% url confirm_request other_user.pk %}?next={{request.path}}&amp;{{uuid}}">
            <TEXT>[+ accept]</TEXT>
        </LINK><br/>
        <LINK href="{% url reject_request other_user.pk %}?next={{request.path}}&amp;{{uuid}}">
            <TEXT>[- reject]</TEXT>
        </LINK><br/>
        -------
    {% empty %}
        0 connection requests.
    {% endfor %}
    </TEXT>
    </CONTAINER>
{% endblock %}
