{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
    <HEADER>
        <LABEL>{{ other_user_node.name }}'s Connections</LABEL>
    </HEADER>
    <CONTAINER type="data">
    <TEXT>
        <LINK href="{% url profile_view user_node.user_id %}?{{uuid}}">
            <TEXT>View {{ other_user_node.name }}'s Profile</TEXT>
        </LINK><br/>
    </TEXT>
    </CONTAINER>
    <CONTAINER type="data">
    <TEXT>
        {% for node, is_connected, is_already_requested, is_request_received in connections %}
            {% if node.user_id == user.pk %}
                <LINK href="{% url profile %}?{{uuid}}">
                    <TEXT>{{ node.name }}</TEXT>
                </LINK> <strong>(me)</strong>
                <br/>-<br/>
            {% else %}
                <LINK href="{% url profile_view node.user_id %}?{{uuid}}">
                    <TEXT>{{ node.name }}</TEXT>
                </LINK>
                {% if node.primary_skill %} {{node.primary_skill}}{% endif %}
                <br/>-<br/>
            {% endif %}
        {% empty %}
            0 connections.
        {% endfor %}
    </TEXT>
    </CONTAINER>
    <CONTAINER  type="list">
        <LINK href="{% url profile_view user_node.user_id %}">
            <TEXT>Back</TEXT>
        </LINK>
    </CONTAINER>
{% endblock %}
