{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
    <HEADER>
        <LABEL>{{ other_user_node.name }}'s Connections</LABEL>
    </HEADER>
</MODULE>
{% for node, is_connected, is_already_requested, is_request_received in connections %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER></HEADER>
    <CONTAINER type="data">
    <TEXT>
    {% if node.user_id == user.pk %}
        <LINK href="{% url profile %}?{{uuid}}">
            <TEXT>{{ node.name }}</TEXT>
        </LINK> <strong>(me)</strong>
    {% else %}
        <LINK href="{% url profile_view node.user_id %}?{{uuid}}">
            <TEXT>{{ node.name }}</TEXT>
        </LINK>
        {% if node.primary_skill %} {{node.primary_skill}}{% endif %}
    {% endif %}
    </TEXT>
    </CONTAINER>
</MODULE>
{% empty %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER></HEADER>
<CONTAINER type="data">
    <TEXT>0 connections.</TEXT>
</CONTAINER>
</MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER></HEADER>
<CONTAINER type="list">
    <LINK href="{% url profile_view user_node.user_id %}?{{uuid}}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
