{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<HEADER><LABEL>Edit {{page_title}}</LABEL></HEADER>
<CONTAINER type="data">
{{ form.errors_as_pml }}
</CONTAINER>
<CONTAINER  type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Save">
        <TEXT position="ABOVE">Job title:</TEXT>
        <FIELD name="title" type="text" default="{% if form.title.value %}{{form.title.value}}{% endif %}"/><br/>
    
        <TEXT position="ABOVE">College or Institution:</TEXT>
        <FIELD name="company" type="text" default="{% if form.company.value %}{{form.company.value}}{% endif %}"/><br/>
        
        <TEXT position="ABOVE">Year started:*</TEXT>
        <FIELD name="start_year" maxentry="4" type="number" default="{% if form.start_year.value %}{{form.start_year.value}}{% endif %}"/><br/>
        
        <TEXT position="ABOVE">Year ended:*</TEXT>
        <FIELD name="end_year" maxentry="4" type="number" default="{% if form.end_year.value %}{{form.end_year.value}}{% endif %}"/><br/>
        
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER  type="list">
    <LINK href="{{cancel_url}}">
        <TEXT>Cancel</TEXT>
    </LINK>
    {% if object.id %}
    <LINK href="{% url profile %}{{list_name}}/delete/{{ object.id }}/">
        <TEXT>Delete</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
{% endblock %}