{% extends "my_ummeli_base.xml" %}

{% block content %}
    <HEADER><LABEL>My Work</LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>What is your field of work or interest?</TEXT>
    </CONTAINER>
</MODULE>
{% for item in object_list %}
    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="list">
        {% if item.primary %}
        <LINK href="{% url skills item.pk %}">
            <TEXT>*{{ item.skill }} <TEASER>({{ item.get_level }})</TEASER></TEXT>
        </LINK>
        {% else %}
        <LINK href="{% url skills item.pk %}">
            <TEXT>{{ item.skill }} <TEASER>({{ item.get_level }})</TEASER></TEXT>
        </LINK>
        {% endif %}
    </CONTAINER>
    {% if not item.primary %}
    <CONTAINER type="data">
        <TEXT>
        <LINK href="{% url skills_primary item.pk %}">
            <TEXT>Mark as Primary Role</TEXT>
        </LINK>
        </TEXT>
    </CONTAINER>
    {% endif %}
    </MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if object_list.count < 3 %} 
    <LINK href="{% url skills_new %}">
        <TEXT>+ Add another</TEXT>
    </LINK>
    {% endif %}
    <LINK href="{% url profile %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
