{% extends "my_ummeli_base.xml" %}

{% block content %}
    <HEADER><LABEL>My Connections</LABEL></HEADER>
    </MODULE>

    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Add Connections</LABEL></HEADER>
    <CONTAINER type="list">
        <LINK href="{% url add_connection_by_industry %}">
            <TEXT>Add connection by type of work</TEXT>
        </LINK>
    </CONTAINER>
    </MODULE>

{% if user_profile.connection_requests.exists %}
    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Connection Requests ({{user_profile.connection_requests.count}})</LABEL></HEADER>
    </MODULE>
    {% for user in user_profile.connection_requests.all %}
    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
        <LINK href="{% url profile_view user.pk %}">
            <TEXT>{{user.get_profile.fullname}}</TEXT>
        </LINK><br/>
        <LINK href="{% url confirm_request user.pk %}?next={{request.path}}">
            <TEXT>[+ Accept]</TEXT>
        </LINK>
        <LINK href="{% url reject_request user.pk %}?next={{request.path}}">
            <TEXT>[- Reject]</TEXT>
        </LINK>
    <TEXT>
    </CONTAINER>
    </MODULE>
    {% endfor %}
{% endif %}

    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>My Connections ({{user_profile.get_connnections_count}})</LABEL></HEADER>
    </MODULE>
    {% for node in request.user.get_profile.get_connections %}
    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
        <LINK href="{% url profile_view node.user_id %}">
            <TEXT>{{ node.name }}</TEXT>
        </LINK>
        {% if node.primary_skill %}<br/>{{node.primary_skill}}{% endif %}
    </TEXT>
    </CONTAINER>
    </MODULE>
    {% empty %}
    <MODULE backgroundColor="false" palette="MiDove">
    <CONTAINER type="data">
    <TEXT>0 connections.</TEXT>
    </CONTAINER>
    </MODULE>
    {% endfor %}

    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="list">
        <LINK href="{% url my_ummeli %}">
            <TEXT>Back</TEXT>
        </LINK>
    </CONTAINER>
{% endblock %}
