{% extends "my_ummeli_base.xml" %}

{% block content %}
    <HEADER><LABEL>Work Profile</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>{{user_profile.fullname}}</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove" role="MOD17">
<CONTAINER type="image">
    <IMAGE href="{{STATIC_URL}}media/avatar_{{user_profile.primary_skill.level}}.jpg" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>{{user_profile.primary_skill}}</TITLE>
    <TEXT>
        {% if user_profile.city %}{{user_profile.city}} <br/>{% endif %}
        {% if user_profile.gender %}-- {{user_profile.gender}} <br/>{% endif %}
    </TEXT>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    {% if user_profile.skills.all %}
        <b>Other areas of interest:</b><br/>
        {% for skill in user_profile.other_skills.all %}
        {{skill}}<br/>
        {% endfor %}
    {% endif %}
    </TEXT>
    <TEXT>
    <p><i>"{{user_profile.about_me}}"</i></p>
    </TEXT>
    </CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Full Profile</LABEL></HEADER>
    <CONTAINER type="list">
        <LINK href="{% url edit_personal %}?{{uuid}}"><TEXT>Personal Details</TEXT></LINK>
        <LINK href="{% url language_list %}?{{uuid}}"><TEXT>Languages</TEXT></LINK>
        <LINK href="{% url edit_contact %}?{{uuid}}"><TEXT>My Contact Info</TEXT></LINK>
        <LINK href="{% url edit_about_me %}?{{uuid}}"><TEXT>About Me</TEXT></LINK>
        <LINK href="{% url skills %}?{{uuid}}"><TEXT>My Work</TEXT></LINK>
        <LINK href="{% url work_experience_list %}?{{uuid}}"><TEXT>Work Experience</TEXT></LINK>
        <LINK href="{% url certificate_list %}?{{uuid}}"><TEXT>My Education</TEXT></LINK>
    </CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="list">
        <LINK href="{% url profile_view request.user.pk %}?{{uuid}}"><TEXT>View My Profile</TEXT></LINK>
        <LINK href="{% url my_ummeli %}"><TEXT>Back</TEXT></LINK>
    </CONTAINER>        
{% endblock %}
