{% extends "my_ummeli_base.xml" %}
    
{% block content %}
    <HEADER><LABEL>Profile</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>{{other_user_profile.fullname}}</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove" role="MOD17">
<CONTAINER type="image">
    <IMAGE href="{{STATIC_URL}}media/avatar_{{other_user_profile.primary_skill.level}}.jpg" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>{{other_user_profile.primary_skill}}</TITLE>
    <TEXT>
        {% if other_user_profile.city %}{{other_user_profile.city}} <br/>{% endif %}
        {% if other_user_profile.gender %} -- {{other_user_profile.gender}} <br/>{% endif %}
    </TEXT>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER></HEADER>
    <CONTAINER type="data">
    <TEXT>
    {% if other_user_profile.skills.all %}
        <strong>Other areas of interest:</strong><br/>
        {% for skill in other_user_profile.other_skills.all %}
        {{skill}}<br/>
        {% endfor %}
    {% endif %}
    </TEXT>
    <TEXT>
    <p><i>"{{other_user_profile.about_me}}"</i></p>
    </TEXT>
    </CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER></HEADER>
    <CONTAINER type="list">
    <LINK href="{% url connections other_user_pk %}">{{other_user_profile.get_connnections_count}} Connection{{ other_user_profile.get_connnections_count|pluralize }}</LINK>
    </CONTAINER>
</MODULE>
    {% if not connected_to_user and not is_self %}
        {% if not already_requested %}
            {% if connection_requested %}
                <MODULE backgroundColor="false" palette="MiDove">
                <HEADER>Connect</HEADER>
                <CONTAINER type="list">
                    <LINK href="{% url confirm_request other_user_pk %}?next={{request.path}}&amp;{{uuid}}">
                        <TEXT>[+ accept]</TEXT>
                    </LINK>
                    <LINK href="{% url reject_request other_user_pk %}?next={{request.path}}&amp;{{uuid}}">
                        <TEXT>[- reject]</TEXT>
                    </LINK>
                </CONTAINER>
                </MODULE>
            {% else %}
                <MODULE backgroundColor="false" palette="MiDove">
                <HEADER>Connect</HEADER>
                <CONTAINER type="list">
                <LINK href="{% url add_connection other_user_pk %}?next={{request.path}}&amp;{{uuid}}">
                    <TEXT>[+ connect]</TEXT>
                </LINK>
                </CONTAINER>
                </MODULE>
            {% endif %}
        {% else %}
            <MODULE backgroundColor="false" palette="MiDove">
            <HEADER>Connect</HEADER>
            <CONTAINER type="data">
                <TEXT>[request pending]</TEXT><br/>
            </CONTAINER>
            </MODULE>
        {% endif %}
    {% endif %}
        
    {% if connected_to_user or is_self %}
        {% include "profile/user_profile_detailed.html" with a_user_profile=other_user_profile user_is_self=is_self %}
    {% endif %}
    <MODULE backgroundColor="false" palette="MiDove">
    <HEADER></HEADER>
    <CONTAINER type="list">
        <LINK href="{% url my_connections %}"><TEXT>My Connections</TEXT></LINK>
    </CONTAINER>
{% endblock %}
