{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
    <HEADER><LABEL>Reject connection request</LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    Are you sure you <b>don't</b> want to connect with {{other_user_profile.fullname}}?
    <br/>
    <br/>
    Adding someone to your connections means giving access to your full profile.
    <br/><br/>To change your privacy settings click <a href="{% url my_contact_privacy %}">here</a>. [My Settings > Contact Details Privacy]
    </TEXT>
    </CONTAINER>

    <CONTAINER type="form">
    <FORM method="POST" href="{% url reject_request other_user_pk %}" submit_text="+ reject">
        <FIELD type='hidden' name='next' value='{{next}}' />
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
    </CONTAINER>

{% endblock %}
