<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Contact Info</LABEL></HEADER>
    <CONTAINER type="data">
        <TEXT>
        {% if a_user_profile.show_address and a_user_profile.address %}{{a_user_profile.address}}, {% endif %}
        {% if a_user_profile.city %}{{a_user_profile.city}}{% endif %}
            
        {% if a_user_profile.show_contact_number and a_user_profile.telephone_number %}
            <br/>[tel] {{a_user_profile.telephone_number}}
        {% endif %}
        {% if a_user_profile.email %}
            <br/>[email] {{a_user_profile.email}}
        {% endif %}
        </TEXT>
    </CONTAINER>
</MODULE>

{% if a_user_profile.languages.exists %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Languages</LABEL></HEADER>
    <CONTAINER type="data">
        {% for lang in a_user_profile.languages.all %}
            <TEXT>{{lang}}</TEXT><br/>
        {% endfor %}
    </CONTAINER>
</MODULE>
{% endif %}
    
{% if a_user_profile.work_experiences.exists %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Work experience</LABEL></HEADER>
    <CONTAINER type="data">
        {% for exp in a_user_profile.work_experiences.all %}
        <TEXT>{{exp}}</TEXT><br/>
        {% endfor %}
    </CONTAINER>
</MODULE>
{% endif %}

{% if a_user_profile.certificates.exists %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Education</LABEL></HEADER>
    <CONTAINER type="data">
    {% for c in a_user_profile.certificates.all %}
    <TEXT>{{c}}</TEXT><br/>
    {% endfor %}
    </CONTAINER>
</MODULE>
{% endif %}
