{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Bursaries</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={% url bursaries %}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    <b>{{object.title}}</b>
    <br/>{{ object.deadline|date:"D, j M Y"  }}
    <br/>Province: {{ object.get_provinces }}
    <br/>Min. education required: <b>{{ object.get_education}}</b>
    <br/>
    <br/>
    {{ object.description }}
    </TEXT>
    </CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url bursaries %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
