{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Events</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={% url events %}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    <b>{{object.title}}</b>
    <br/>Province: {{ object.get_provinces }}
    <br/>Location: {{ object.location }}
    <br/>When: {{ object.deadline|date:"D, j M Y" }}
    <br/>
    <br/>
    {{ object.description }}
    </TEXT>
    </CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url events %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
