{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Campaigns</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={{request.path}}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
<CONTAINER type="data">
    <TEXT>There are tasks available in many different locations in your province. Check below whether there are tasks near you.
    <br/>
    <br/>
    To get started you will be redirected to Ummeli Mobi site to
    complete a qualification task. Please login using your cellphone
    number and Ummeli PIN. <b>Please note</b>: Ummeli Mobi site is not a
    free service (you must have airtime to access it) but for each task you complete you have the
    opportunity to earn R10. The pay off is worth it, so give it a try.
    </TEXT>
</CONTAINER>
<CONTAINER type="list">
    <LINK href="http://ummeli.mobi/login/?next=/opportunities/">
        <TEXT>Get started!</TEXT>
    </LINK>
</CONTAINER>
</MODULE>
{% for object in object_list %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
        {{object.location__city__region__name}}, {{object.location__city__name}} ({{object.num_tasks}})
    </TEXT>
    </CONTAINER>
</MODULE>
{% empty %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>0 campaigns in {{province}}.</TEXT>
</CONTAINER>
</MODULE>
{% endfor %}

{% if object_list %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="http://ummeli.mobi/login/?next=/opportunities/">
        <TEXT>Get started!</TEXT>
    </LINK>
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if page_obj.has_previous %}
    <LINK href="?page={{ page_obj.previous_page_number }}?{{uuid}}">
        <TEXT>Previous</TEXT>
    </LINK>
    {% endif %}
    {% if page_obj.has_next %}
    <LINK href="?page={{ page_obj.next_page_number }}?{{uuid}}">
        <TEXT>Next</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
</MODULE>
{% endif %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url opportunities %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
