{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Campaigns</LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>Welcome to Tasks! Here you can earn some extra airtime by successfully completing a task.</TEXT>
</CONTAINER>
<CONTAINER type="list">
    <LINK href="{% url article_detail_redo 354 %}?{{uuid}}">
        <TEXT>Use your phone to earn Airtime rewards</TEXT>
    </LINK>
    <LINK href="{% url article_detail_redo 359 %}?{{uuid}}">
        <TEXT>TomTom Technical Trouble?</TEXT>
    </LINK>
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>Find tasks near you, choose your provice.</TEXT>
</CONTAINER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={{request.path}}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>
{% for object in object_list %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    <LINK href="{% url vlive_campaigns_tasks object.slug %}">
        <TEXT>{{object.title}}</TEXT>
    </LINK>
    </TEXT>
    </CONTAINER>
</MODULE>
{% empty %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>0 campaigns in {{province}}.</TEXT>
</CONTAINER>
</MODULE>
{% endfor %}

{% if object_list %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if page_obj.has_previous %}
    <LINK href="?page={{ page_obj.previous_page_number }}?{{uuid}}">
        <TEXT>Previous</TEXT>
    </LINK>
    {% endif %}
    {% if page_obj.has_next %}
    <LINK href="?page={{ page_obj.next_page_number }}?{{uuid}}">
        <TEXT>Next</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
</MODULE>
{% endif %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url opportunities %}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
