{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo; Bursaries</h2>
    <p>
        Province: <strong><a href="#">{{province}}</a></strong>
        {% for object in object_list %}
        <div class="img-article list-separated">
            <a href="{{object.get_absolute_url}}">{{object.title}}</a><br/>
            Min: <strong>{{object.get_education}}</strong><br/>
            <small>Deadline: <strong>20 Aug 2012</strong></small><br/>
        </div>
        {% empty %}
        <p>0 bursaries in this province.</p>
        {% endfor %}
    </p>
    <div id="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
    </div>
    <div class="more"><a href="{% url index %}">&larr; Back</a></div>
{% endblock %}
