{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url bursaries %}">Bursaries</a> &raquo;
        {{object.title}}
    </h2>
    <p>
        <strong>{{object.title}}</strong>
        {% if object.retract_on %}<br/><small>Deadline: <strong>{{ object.retract_on|date:"D, j M Y" }}</strong></small>{% endif %}
        <br/><small>Province: {{ object.get_provinces }}</small>
        <br/><small>Min. education required: {{ object.get_education}}</small>
        <br/>
        <br/>
        {{ object.description|safe }}
    </p>
    <div class="more"><a href="{% url bursaries %}">&larr; Back</a></div>
{% endblock %}
