{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url competitions %}">Competitions</a> &raquo;
        {{object.title}}
    </h2>
    <p>
        <strong>{{object.title}}</strong>
        <br/><small>Deadline: <b>{{ object.deadline|date:"D, j M Y" }}</b></small>
        <br/><small>Province: {{ object.get_provinces }}</small>
        <br/><small>Cost: R {{ object.cost }}</small>
        <br/>
        <br/>
        {{ object.description }}
    </p>
    <div class="more"><a href="{% url competitions %}">&larr; Back</a></div>
{% endblock %}
