{% extends "base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
        <a href="{% url opportunities %}">Opportunities</a>
    </div>
    <h2>Events</h2>
    <div class="wrap">
        <strong>{{object.title}}</strong>
        <br/><small>Province: {{ object.get_provinces }}</small>
        <br/><small>Location: {{ object.place }}</small>
        <br/><small>When: {{ object.retract_on|date:"D, j M Y"  }}</small>
        <br/>
        <br/>
        {{ object.description|safe }}
    </div>
    <div class="more"><a href="{% url events %}">&larr; Back</a></div>
{% endblock %}
