{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo; Internships</h2>
    <p>
        Province: <strong><a href="{% url change_province %}?next={{request.path}}">{{province}} (change)</a></strong>
        {% for object in object_list %}
        <div class="img-article list-separated">
            <a href="{{object.get_absolute_url}}">{{object.title}}</a><br/>
            <small>Salary: R {{object.salary}}</small><br/>
            <small>Deadline: <strong>{{ object.deadline|date:"D, j M Y" }}</strong></small><br/>
        </div>
        {% empty %}
        <p>0 internships in <a href="{% url change_province %}?next={{request.path}}">{{province}}</a>.</p>
        {% endfor %}
    </p>
    {% if object_list %}
    <div id="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
    </div>
    {% endif %}
    <div class="more"><a href="{% url opportunities %}">&larr; Back</a></div>
{% endblock %}
