/ve/
*.pyc
*.py~
*.db
*.html~
.coverage
/cover/
coverage.xml
nosetests.xml
*.log
MANIFEST.in
/*.egg-info/
/logs/*.err
/logs/*.log
/tmp/pids/*.pid
/ummeli/local_settings.py
/ummeli/cover/
/ummeli/ummeli-static/
/ummeli/providers-static/
/ummeli/providers-static/
/ummeli/vlive_settings.py
/ummeli/mobi_settings.py
/ummeli/basic_mobi_settings.py
/ummeli/providers_settings.py
/ummeli/media/
/neo4j/
