{% extends "base.html" %}

{% load poll_tags comments %}


{% block title %}: {{ article.title }}{% endblock %}


{% block content %}
<h2><a href="{% url article_list %}">Latest</a> &raquo;  {{article.title}}</h2>
<div class="article">
    <div class="article">
    <img src="{% if article.image %}{{ article.image.url }}{% else %}/ummeli-static/media/latest.jpg{% endif %}" width="56" height="56" alt="Title Here" class="left">
    <div class="h3">{{ article.description }}</div>

    <small>
        {{ article.published_on|date:"D, j M Y" }}
    </small>
    <div class="item-tools no-clear">
        <span class="comments"><a href="#comment_list">{{ comment_count }}</a></span>
        <span class="likes">{{ article.like_count }}</span>
        {% if user.is_authenticated %}
        <span class="tag"><a href="{% url article_detail article.pk %}like/" class="like">+Like</a></span>
        {% endif %}
    </div>
</div>

<div class="wrap">
    {{ article.content|safe }}

    {% if article.linked_article or article.linked_page %}
        <strong>See also:</strong>
        <div>
        {% if article.linked_article %}
            <div class="bullet">
                <a href="{% url article_detail article.linked_article.pk %}">
                    {{ article.linked_article.title }}
                </a>
            </div>
        {% endif %}

        {% if article.linked_page %}
            <div class="bullet">
                <a href="{{ article.linked_page.url }}">
                    {{ article.linked_page.title }}
                </a>
            </div>
        {% endif %}
        </div>
        <br/>
    {% endif %}
</div>

{% if article.poll and article.poll.published %}
<div class="poll">
    <h4>Poll</h4>
    <div class="list">
    {% show_poll article.poll %}
    </div>
</div>
{% endif %}

{% if article.video %}
    <h4 class="black">Video</h4>
    {% with article.video as video %}
    <a href="{{video.video.url}}">
        <img src="{{video.thumbnail.url}}">
    </a>
    {% endwith %}
    <p></p>
{% endif %}
<h2>{{ comment_count }} comment{{ comment_count|pluralize }}</h2>

<div id="comment_list" class="comment_list">
    {% for comment in comment_list.object_list %}
        <div class="comment {% cycle 'even' 'odd' %}">
            <div>
                <!-- link to user profile -->
                        {% if comment.user.get_profile.fullname %}
                            <a href="{% url profile_view comment.user.pk %}">{{ comment.user.get_profile.fullname }}</a>
                        {% else %}
                            Anon.
                        {% endif %}
                    <span class="subtext">
                    - {{ comment.submit_date|date:"D, j M Y, H:i" }}
                </span>
            </div>

            <div>{% spaceless %}
                {% if comment.is_community_moderated %}
                    <strong>Moderated:</strong> {{ comment.community_moderation_flags.latest.reason }}
                {% else %}
                    {% if comment.is_moderated %}
                        <strong>Moderated:</strong> {{ comment.moderation_flags.latest.reason }}
                    {% else %}
                        {{ comment.comment }}
                    {% endif %}
                {% endif %}{% endspaceless %}
            </div>

            <div>
                <span class="likes">
                    {{ comment.like_count }} Like{{ comment.like_count|pluralize }}
                </span>
                    {% if user.is_authenticated %}
                    <span class="tag">
                        <a href="{% url comment_like comment.pk %}">+Like</a>
                        </span>
                    {% endif %}
                <span class="tag right">
                    {% if user.is_authenticated %}
                        <a href="{% url comment_flag comment.pk %}">Report</a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endfor %}
</div>

<br/>

<div id="pagination">
    {% if comment_list.has_previous %}
        <span><a href="{% url article_detail_redo article.pk comment_list.previous_page_number %}">Previous</a></span> |
    {% else %}
        <span>Previous</span> |
    {% endif %}

    <span class="current">
        Page {{ comment_list.number }} of {{ comment_list.paginator.num_pages }}
    </span>

    {% if comment_list.has_next %}
        | <span><a href="{% url article_detail_redo article.pk comment_list.next_page_number %}">Next</a></span>
    {% else %}
        | <span>Next</span>
    {% endif %}
</div>


<br/>



<div class="wrap" id="comment_form">
    {% if article.comments_enabled %}
        {% if user.is_authenticated %}

            {% get_comment_form for article as form %}

            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                <div style="display:none;">
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    {{ form.honeypot }}
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}#comment_list" />
                </div>

                <p>
                    Write your comment:
                    <br/>
                    <a href="{% url my_comment_settings %}">Change your comment name
                    </a><br/>
                    <div class="form-fields">
                    {{ form.comment }}
                    </div>
                </p>
                <p>
                    <input type="submit" name="post" value="Comment" class="btn"/>
                </p>
            </form>

        {% else %}
            <p><a href="{% url login %}">Sign in</a> or <a href="{% url register %}">register</a> to comment.</p>
        {% endif %}
    {% else %}
        <p><em>Comments are closed.</em></p>
    {% endif %}
</div>







{% endblock %}
