{% extends "base.html" %}

{% load poll_tags comments livechat_tags %}


{% block title %}: {{ article.title }}{% endblock %}


{% block content %}
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo; <a href="{% url article_list %}">Latest</a></div>
<div class="article">
    <div class="article">
    <img src="{% if article.image %}{{ article.image.url }}{% else %}/ummeli-static/media/latest.jpg{% endif %}" width="56" height="56" alt="Title Here" class="left">
    <h4>{{article.title}}</h4>

    <small>
        {{ article.published_on|date:"D, j M Y" }}
    </small>
    <div class="item-tools no-clear">
        <span class="comments"><a href="#comment_list">{{ comment_count }} Comments</a></span>
        <span class="likes">{{ article.like_count }} Likes
        {% if user.is_authenticated %}
        <a href="{% url article_detail article.pk %}like/" class="like">+Like</a>
        {% endif %}
    </span>
    </div>
</div>

<div class="wrap">
    {{ article.content|safe }}

    {% if article.linked_article or article.linked_page %}
        <br/>
        <div class="also">
        <p><strong>See also:</strong></p>
        {% if article.linked_article %}
            <div class="bullet">
                <a href="{% url article_detail_redo article.linked_article.pk %}">
                    {{ article.linked_article.title }}
                </a>
            </div>
        {% endif %}

        {% if article.linked_page %}
            <div class="bullet">
                <a href="{{ article.linked_page.url }}">
                    {{ article.linked_page.title }}
                </a>
            </div>
        {% endif %}
        </div>
        <br/>
    {% endif %}
</div>

{% for poll in article.polls.all %}
{% if poll and poll.published %}
    <div class="poll">
        <h2>Poll</h2>
        <div class="list-separated">
        {% show_poll poll %}
        </div>
    </div>
{% endif %}
{% endfor %}

{% if article.video %}
    <h2>Video</h2>
    {% with article.video as video %}
    <a href="{{video.video.url}}">
        <img src="{{video.thumbnail.url}}">
    </a>
    {% endwith %}
{% endif %}

{% if article.downloads.exists %}
    <h2>Downloads</h2>
    <div class="list-separated">
    {% for download in article.downloads.all %}
        {% if download.state == 'published' %}
        <a href="{{ download.get_absolute_url }}">
            Download: {{download.title}}
        </a><br/>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% get_livechat_for_article article "livechat" %}
{% if livechat %}
    {% include "livechat/embed.html" %}
{% endif %}

{% endblock %}
