{% extends "base.html" %}

{% block content %}
<h2>Latest</h2>
<ul class="list">
    {% for article in article_list %}
    <li class="img-article article">
    <img src="{% if article.image %}{{ article.image.url }}{% else %}/ummeli-static/media/latest.jpg{% endif %}" width="50" height="50" alt="Title Here" class="left">
        <a href="{% url article_detail_redo article.pk %}">{{ article.title }}</a> {{ article.description }}<br />
        <small>{{ article.published_on|date:"D, j M Y" }}</small>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="{% url article_list page_obj.previous_page_number %}">
        &lt; Newer articles
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="{% url article_list page_obj.next_page_number %}">
        Older articles &gt;
    </a>
    {% endif %}
</div>
{% endblock %}
