{% load comments%}
<h2>{{ comment_count }} comment{{ comment_count|pluralize }}</h2>

<div class="wrap" id="comment_form">
    {% if article.comments_enabled %}
        {% if user.is_authenticated %}

            {% get_comment_form for article as form %}

            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                <div style="display:none;">
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    {{ form.honeypot }}
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}#comment_list" />
                </div>

                <p>
                    Write your comment:
                    <br/>Name:
                    <strong>
                        {% if user.get_profile.comment_as_anon %}
                            Anon.
                        {% else %}
                            {% if user.get_profile.fullname %}
                                {{ user.get_profile.fullname }}</a>
                            {% else %}
                                Anon.
                            {% endif %}
                        {% endif %}
                    </strong>
                    <br/>
                    <a href="{% url my_comment_settings %}">Change your comment name
                    </a><br/>
                    <div class="form-fields">
                    {{ form.comment }}
                    </div>
                </p>
                <p>
                    <input type="submit" name="post" value="Comment" class="btn"/>
                </p>
            </form>

        {% else %}
            <p><a href="{% url login %}?next={{request.path}}">Sign in</a> or <a href="{% url register %}?next={{request.path}}">register</a> to comment.</p>
        {% endif %}
    {% else %}
        <p><em>Comments are closed.</em></p>
    {% endif %}
</div>

<div class="comment-rules">
    <div><strong>Help keep your Ummeli clean:
        <span class="tag report"><a href="#">Report</a></span>
        any comments that are abusive, inappropriate, chat or
        break any of our other commenting rules.
        </strong>
    </div>
    <div>3 separate reports and the comment will be removed.</div>
    <div><strong>Don't know the rules?</strong> <a href="#">Read them here.</a></div>
</div>


<div id="comment_list" class="comment_list">
    {% for comment in comment_list.object_list %}
        <div class="comment {% cycle 'even' 'odd' %}">
            {% if not comment.is_community_moderated and not comment.is_moderated %}
            <div>
                <!-- link to user profile -->
                        {% if comment.user.get_profile.fullname %}
                            <a href="{% url profile_view comment.user.pk %}">{{ comment.user.get_profile.fullname }}</a>
                        {% else %}
                            Anon.
                        {% endif %}
                    <span class="subtext">
                    - {{ comment.submit_date|timesince }} ago
                </span>
                <div>{{ comment.comment }}</div>
            </div>
            <div>
                <span class="likes">
                    {{ comment.like_count }}
                </span>
                {% if user.is_authenticated %}
                <span class="tag">
                    <a href="{% url comment_like comment.pk %}">+Like</a>
                    </span>
                {% endif %}
                {% if user.is_authenticated %}
                <span class="tag report">
                    <a href="{% url comment_flag comment.pk %}">Report</a>
                </span>
                <span class="reports tag">
                    {% with flag_count=comment.community_moderation_flags.latest.flag_count %}
                    {% if flag_count %}{{ flag_count }}{% else%} 0 {%endif%}
                    {% endwith %}
                </span>
                {% endif %}
            </div>
            {% else %}
                <span class="subtext">
                    {{ comment.submit_date|timesince }} ago
                </span>
                {% spaceless %}
                {% if comment.is_community_moderated %}
                    {% comment %}
                    <strong>Moderated:</strong> {{ comment.community_moderation_flags.latest.reason }}
                    {% endcomment %}
                    <strong>Moderated:</strong> Removed by the community
                {% else %}{% if comment.is_moderated %}
                    {% comment %}
                    <strong>Moderated:</strong> {{ comment.moderation_flags.latest.reason }}
                    {% endcomment %}
                    <strong>Moderated:</strong> Removed by moderator
                {% else %}
                    {{ comment.comment }}
                {% endif %}
                {% endif %}
                {% endspaceless %}
            {% endif %}

        </div>
    {% endfor %}
</div>

<br/>

<div id="pagination">
    {% if comment_list.has_previous %}
        <span><a href="{% url article_detail_redo article.pk comment_list.previous_page_number %}">Previous</a></span> |
    {% else %}
        <span>Previous</span> |
    {% endif %}

    <span class="current">
        Page {{ comment_list.number }} of {{ comment_list.paginator.num_pages }}
    </span>

    {% if comment_list.has_next %}
        | <span><a href="{% url article_detail_redo article.pk comment_list.next_page_number %}">Next</a></span>
    {% else %}
        | <span>Next</span>
    {% endif %}
</div>
