{% extends "base.html" %}

{% block content %}
    <h2>
        Community Board
    </h2>
    <strong>Submitted by Ummeli users</strong><br />
    {% for object in articles.object_list %}
        {% include 'opportunities/community_opportunity_listing.html' %}
    {% endfor %}

    <div id="pagination">
        {% if articles.has_previous %}
            <span><a href="?page={{ articles.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}
        </span>

        {% if articles.has_next %}
            | <span><a href="?page={{ articles.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
    </div>
{% endblock %}
