{% extends "base.html" %}
{% load reporting_tags %}


{% block content %}
    <h2><a href="{% url community_jobs %}">Community Board</a> &raquo;Opportunity</a></h2>

    {% get_votes_for_object job 'ummeli_scam' %}
    {% get_votes_for_object job 'ummeli_inappropriate' %}
    {% get_votes_for_object job 'ummeli_position_filled' %}

    {% if ummeli_inappropriate >= 3 %}
    <div>Title: {{job.title|truncatewords:5 }}</div>
    <div class="warning"><strong>Inappropriate:</strong> This opportunity has been removed by the community</div>
    <div class="more"><a href="{% url community_jobs %}">&larr; Back</a></div>
    <br/>
    {% else %}
    {% if ummeli_scam >= 1 %}
        <div class="warning"><strong>Warning:</strong> This opportunity may be a scam, proceed with caution.</div>
    {% else %}{% if ummeli_scam >= 1 %}
        <div class="position-filled">
            <strong>Position Filled:</strong>
            The Ummeli community has
            indicated that this position may have been filled,
            however you are still free to apply.
        </div>
    {% endif %}
    {% endif %}

    <div class="article">
        <strong>{{job.title}}</strong><br/>
        <small><strong>{{job.get_provinces}}</strong></small><br/>
        {{ job.description }}
        <br/><br/>
        <small>{{ job.created|timesince }} ago</small>
        <br/>submitted by
        {% if job.owner.get_profile.fullname %}
            <a href="{% url profile_view job.owner.pk %}">{{ job.owner.get_profile.fullname }}</a>
        {% else %}
            Anon.
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <p>Report opportunity as:<br/>
        <a href="{% url report_object job.slug 'ummeli_scam' %}">scam</a>,
        <a href="{% url report_object job.slug 'ummeli_inappropriate' %}">inappropriate</a>,
        <a href="{% url report_object job.slug 'ummeli_position_filled' %}">position-filled</a>
    </p>
    {% endif %}

    <div class="more"><a href="{% url community_jobs %}">&larr; Back</a></div>
    <br/>
    <h2>Apply for this opportunity</h2>
    <form name="pd" method="POST" class="content-form">
    {% if user.is_authenticated %}
        {% if user_profile.missing_fields %}
            <strong>Missing fields</strong>
            <div class="warning">
                Your CV is incomplete. Please make sure that the following information is
                completed before you can send your CV.
            </div>
            {% for field in user_profile.missing_fields %}
                - {{field}}<br/>
            {% endfor %}
        {% else %}
        <fieldset>
        <strong>* = Required</strong><br />
          <label for="email">Email CV To:*</label>
          <span class="subtext">(example) someone@email.com</span>
          {% include "form_field_errors_snippet.html" with form_field=form.send_to %}
          <input type="text" class="txt" name="send_to"/>
          <input type="submit" name="signin-btn" value="Send" class="btn" />
          <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
          <input type="hidden" name="send_via" value="email" />
        </fieldset>
        {% endif %}
    {% else %}
        <div class="warning">Please <a href="{% url login %}?next={% url community_jobs job.slug %}">sign in</a>
        or <a href="{% url register %}">register</a> with Ummeli to apply for this opportunity</div>
    {% endif %}
    </form>
    {% endif %}
{% endblock %}
