{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url jobs_list %}">Jobs</a> &raquo;
        {{category_title}}
    </h2>
    <p>
        Province: <strong><a href="{% url change_province %}?next={% url jobs_list %}">{{province}} (change)</a></strong>
    </p>
    <div id="pagination">
        <span>
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">Previous</a> |
        {% else %}
            Previous |
        {% endif %}
        </span>
        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}
        </span>

        <span>
        {% if articles.has_next %}
            | <a href="?page={{ articles.next_page_number }}">Next</a>
        {% else %}
            | Next
        {% endif %}
        </span>
    </div>

    <br/><strong>*** = Submitted by Ummeli user</strong>

    {% for article in articles.object_list %}
        <div class="list-separated">
            <a href="{% url job cat_id article.pk article.user_submitted %}">
                {% if article.user_submitted %}<color value="blue">***</color>{% endif %}
                {{ article.text|truncatewords:10 }}
            </a>
            <br/>
            <small>
                {{ article.date|date:"D, j M Y" }}
            </small>

        </div>
    {% endfor %}
    <br/>
    <div id="pagination">
        <span>
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">Previous</a> |
        {% else %}
            Previous |
        {% endif %}
        </span>
        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}
        </span>

        <span>
        {% if articles.has_next %}
            | <a href="?page={{ articles.next_page_number }}">Next</a>
        {% else %}
            | Next
        {% endif %}
        </span>
    </div>
    <div class="more"><a href="{% url jobs_list %}">&larr; Back to categories</a></div>
{% endblock %}
