{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo; Jobs</h2>
    <p>
        Province: <strong><a href="{% url change_province %}?next={{request.path}}">{{province}} (change)</a></strong>
        {% for category in categories %}
            <div class="list"><a href="{% url jobs category.pk %}">{{category.title}} ({{category.articles_count}})</a></div>
        {% empty %}
        <p>0 Jobs in <a href="{% url change_province %}?next={{request.path}}">{{province}}</a>.</p>
        {% endfor %}
    </p>
    <div class="more"><a href="{% url opportunities %}">&larr; Back to opportunities</a></div>
{% endblock %}
