{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo; Jobs</h2>
    <p>
        Province: <strong><a href="{% url change_province %}?next={{request.path}}">{{province}} (change)</a></strong>
        {% for key, category in categories %}
            <div class="list"><a href="{% url jobs key %}">{{category}}</a></div>
        {% endfor %}
    </p>
    <div class="more"><a href="{% url opportunities %}">&larr; Back to opportunities</a></div>
{% endblock %}
