{% extends "base.html" %}

{% block content %}
    <h2><a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url jobs_list %}">Jobs</a> &raquo;
        {{category}}
    </h2>
    <p>
        Province: <strong><a href="{% url change_province %}?next={{request.path}}">{{province}} (change)</a></strong>
    </p>
    {% if object_list %}
    <div id="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
    </div>
    {% endif %}

    <strong>*** = Submitted by Ummeli user</strong>
    <br/>
    <br/>

    {% for article in object_list %}
        <div class="list-separated">
            {% if article.is_community %}
            <a href="{% url job article.slug %}">
            <color value="blue">***</color>
            {{ article.title|truncatewords:10 }}
            </a>
            {{ article.description|truncatewords:10 }}
            {% else %}
            <a href="{% url job article.slug %}">{{ article.title }}</a>

            {% endif %}
            <br/><small>{{ article.get_provinces }}</small>
            <br/>
            <small>
                {{ article.publish_on|timesince }} ago
            </small>
        </div>
    {% empty %}
        <p>0 Jobs in this category.</p>
    {% endfor %}

    {% if object_list %}
    <div id="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
    </div>
    {% endif %}
    <div class="more"><a href="{% url jobs_list %}">&larr; Back to categories</a></div>
{% endblock %}
