{% if object.is_removed_by_community %}
    <div>Title: {{object.title|truncatewords:5 }}</div>
    <div class="warning"><strong>Inappropriate:</strong> This opportunity has been removed by the Ummeli community</div>
    <div class="more"><a href="{{back}}">&larr; Back</a></div>
    <br/>
{% else %}
{% if is_scam %}
    <div class="warning"><strong>Warning:</strong> This opportunity may be a scam, proceed with caution.</div>
{% else %}
{% if is_position_filled %}
    <div class="position-filled">
        <strong>Position Filled:</strong>
        The Ummeli community has
        indicated that this position may have been filled,
        however you are still free to apply.
    </div>
{% endif %}
{% endif %}
{% endif %}
