{% extends "base_core.html" %}
{% block body %}
    <div id="main" class="content">
    {% block content %}
    {% endblock %}
    <div class="h2">Menu</div>
        <a name="menu-dl" id="menu-dl"></a>
    	<div id="menu">
            <div><a href="{% url home %}">Home</a></div>
            <div><a href="{% url article_list %}">Latest</a></div>
            <div><a href="{% url opportunities %}">Opportunities</a></div>
            <div><a href="{% url community_jobs %}">Community Board</a></div>
            <div><a href="{% url tips %}">Tips</a></div>
            <div><a href="{% url my_ummeli %}">My Ummeli</a></div>
    	</div>
    </div>
    <div id="footer">
        &copy; {% now "Y" %} Praekelt Foundation<br /><a href="{% url home %}">Home</a> . <a href="/about/">About</a> . <a href="/terms/">Terms</a>
        {% if user.is_authenticated %}
            . <a href="{% url logout %}">Sign Out</a>
        {% else %}
            . <a href="{% url login %}">Sign In</a>
        {% endif %}
    </div>
{% endblock %}
