{% extends "base.html" %}

{% block content %}
    <div class="h2">Change your CV ({{user_profile.fields_complete|floatformat:0}}% Complete)</div>
    <div class="list"><a href="{% url edit_personal %}">Personal Details &rarr;</a></div>
    <div class="list"><a href="{% url edit_contact %}">Contact Details &rarr;</a></div>
    <div class="list"><a href="{% url edit_education %}">Education Details &rarr;</a></div>
    <div class="list"><a href="{% url certificate_list %}">Certificates Details &rarr;</a></div>
    <div class="list"><a href="{% url work_experience_list %}">Work Experience Details &rarr;</a></div>
    <div class="list"><a href="{% url language_list %}">Language Details &rarr;</a></div>
    <div class="list"><a href="{% url reference_list %}">References Details &rarr;</a></div>
{% endblock %}
