{% extends "base.html" %}

{% block content %}
<div class="h2">Forgot your PIN?</div>
<div class="content-area">No worries, we'll SMS your PIN to your mobile!</div>
<form class="content-form" method="POST">
<fieldset>
    <label for="form-username">What's your mobile number?</label>
    {% include "form_field_errors_snippet.html" with form_field=form.username %}
    {{form.username}}
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    <input type="submit" class="btn" value="Send PIN"/>
</fieldset>
</form>
<div class="more"><a href="{% url login %}">Return to sign in</a></div>
{% endblock %}
