{% extends "base.html" %}

{% load article_tags %}
{% load poll_tags %}
    
{% block content %}
    <div id="promotxt">Ummeli lets you <a href="{% url jobs_province %}">find jobs</a>, <a href="{% url profile %}">build your profile</a> &amp; <a href="#">connect with people</a> you know. <a href="{% url about %}">Learn more...</a></div>
    <div class="h2">News</div>
    {% get_articles 3 "article_list" %}
    {% for article in article_list %}
        <div class="list">
            <a href="{% url article_detail article.pk %}">{{ article.title }}</a> {{ article.description }}
            <br/>
            <small>{{ article.updated|date:"D, j M Y" }}</small>
        </div>
    {% endfor %}
    <div><a href="{% url article_list %}">more...</a></div>
    {% get_featured_poll "featured_poll" %}
    {% if featured_poll %}
        <div class="h2">Poll</div>
        {% show_poll featured_poll %}
    {% endif %}
    <div class="h2">Community</div>
    {% for article in community_list %}
        <div class="list">
            <a href="{% url community_jobs article.pk %}">{{ article.title|truncatewords:10 }}</a> {{ article.text|truncatewords:10 }}
            <br/>
            {% if article.province %}<small>{{article.province}}</small><br/>{% endif %}
            <small>
                {{ article.date|date:"D, j M Y, H:i" }}
                <a href="{% url profile_view article.user.pk %}">{{article.user.get_profile.fullname}}</a>
            </small>
        </div>
    {% endfor %}
    <div class="list"><a href="{% url community_jobs %}">more...</a></div>
    <br/>
    <div class="list">Got somthing to share?</a></div>
    <div class="list"><a href="{% url jobs_create %}">Add job</a></div>
    {% if user.is_authenticated %}
        <div class="h2">My Ummeli</div>
        <div class="list"><a href="{% url profile %}">My profile</a> <span class="subtext">&rarr; {{user_profile.fields_complete|floatformat:0}}% complete</span></div>
        <div class="list"><a href="{% url my_connections %}">My Connections</a>
            {% if user_profile.connection_requests.any %}
            <span class="subtext">&rarr; {{user_profile.connection_requests.count}} requests</span>
            {% else %}
            <span class="subtext">&rarr; {{user_profile.get_connnections_count}} connections</span>
            {% endif %}
        </div>
        <div class="list"><a href="#">My Jobs &rarr; </a></div>
        <div class="list"><a href="{% url password_change %}">Change PIN &rarr; </a></div>
    {% endif %}

{% endblock %}
