{% extends "base.html" %}

{% load article_tags %}
{% load poll_tags %}
    
{% block content %}
    <div id="promotxt">Ummeli lets you <a href="{% url jobs_province %}">find work</a>, <a href="{% url profile %}">build a work profile</a> &amp; <a href="{% url my_connections %}">connect with others</a>. <a href="/about/">Learn more...</a></div>
    <div class="h2">Latest</div>
    {% get_articles 3 "article_list" %}
    {% for article in article_list %}
        <div class="list">
            <a href="{% url article_detail_redo article.pk %}">{{ article.title }}</a> {{ article.description }}
            <br/>
            <small>{{ article.updated|date:"D, j M Y" }}</small>
        </div>
    {% endfor %}
    <div><a href="{% url article_list %}">more...</a></div>
    {% get_featured_poll "featured_poll" %}
    {% if featured_poll %}
        <div class="h2">Poll</div>
        {% show_poll featured_poll %}
    {% endif %}
    <div class="h2">Community Board</div>
    {% for article in community_list %}
        <div class="list">
            <a href="{% url community_jobs article.pk %}">{{ article.title|truncatewords:10 }}</a> {{ article.text|truncatewords:10 }}
            <br/>
            {% if article.province %}<small>{{article.province}}</small><br/>{% endif %}
            <small>
                {{ article.date|date:"D, j M Y, H:i" }}
                <a href="{% url profile_view article.user.pk %}">{{article.user.get_profile.fullname}}</a>
            </small>
        </div>
    {% endfor %}
    <div class="list"><a href="{% url community_jobs %}">more...</a></div>
    <br/>
    <div class="h5">Have something to share?</a></div>
    <div class="list"><a href="{% url jobs_create %}">Add a job</a></div>
    <div class="h5">Connect with others?</a></div>
    <div class="list"><a href="{% url add_connection_by_industry %}">Find other users</a></div>
    {% if user.is_authenticated %}
        <div class="h2">My Ummeli</div>
        <div class="list"><a href="{% url profile %}">My Profile</a> <span class="subtext">&rarr; {{user_profile.fields_complete|floatformat:0}}% complete</span></div>
        <div class="list"><a href="{% url my_connections %}">My Connections</a>
            {% if user_profile.connection_requests.exists %}
            <span class="subtext">&rarr; {{user_profile.connection_requests.count}} requests</span>
            {% else %}
            <span class="subtext">&rarr; {{user_profile.get_connnections_count}} connections</span>
            {% endif %}
        </div>
        <div class="list"><a href="{% url my_jobs %}">My Jobs</a><span class="subtext"> &rarr; {{request.user.user_submitted_job_article_user.count}} posted</span></div>
        <div class="list"><a href="{% url my_settings %}">My Settings &rarr; </a></div>
    {% endif %}

{% endblock %}
