{% extends "base.html" %}

{% block content %}
    <div class="h2">
        <a href="{% url jobs_province %}">Jobs</a> &raquo; 
        <a href="{% url jobs_list search_id %}">{{province_name}}</a> &raquo; 
        {{category_title}}
    </div>
    <strong>*** = Submitted by Ummeli user</strong><br />
    <div id="list">
    {% for article in articles %}
        <div>
            <span class="date"><strong>{{article.date|date:'d M y'}}</strong></span> 
            <a href="{% url job search_id cat_id article.pk%}?user_submitted={{article.user_submitted}}">
                {% if article.user_submitted %}<color value="blue">***</color>{% endif %}
                {{ article.text|truncatewords:10 }}
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="more"><a href="{% url jobs_list search_id %}">&larr; Back to categories</a></div>
{% endblock %}
