{% extends "base.html" %}

{% block content %}
    <div class="h2"><a href="{% url edit %}">Change your CV</a> &raquo; {{page_title}}</div>
        {% for item in object_list %}
            <a href='{% url edit %}{{list_name}}/{{ item.pk }}'>&rarr; {{ item }}</a>
        {% endfor %}
        <br/>
        <br/>
        <div class="more"><a href="{% url edit %}{{list_name}}/new">+ Add another</a></div>
        <div class="more"><a href="{% url edit %}">&larr; Back</a></div>
    </form>
{% endblock %}
