{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url my_jobs %}">My Jobs</a> &raquo; delete</div>
    <div class="h2">Confirm delete</div>
    <form class='content-form' method="post">
        <div>Are you sure you want to delete <strong>{{object.title}}</strong>?</div>
        <input type="submit" class="btn" value="Delete" name="submit" />
        {% csrf_token %}
    </form>
    <div class="more"><a href="{% url my_jobs %}">&larr; Cancel</a></div>
{% endblock %}
