{% extends "base.html" %}

{% load article_tags %}
{% load poll_tags %}
    
{% block content %}
    <div class="h2">Welcome {{user_profile.first_name}}!</div>
    <div class="h2">My Ummeli</div>
        <div class="list"><a href="{% url profile %}">My profile</a> <span class="subtext">&rarr; {{user_profile.fields_complete|floatformat:0}}% complete</span></div>
        <div class="list"><a href="{% url my_connections %}">My Connections</a>
            {% if user_profile.connection_requests.any %}
            <span class="subtext">&rarr; {{user_profile.connection_requests.count}} requests</span>
            {% else %}
            <span class="subtext">&rarr; {{user_profile.get_connnections_count}} connections</span>
            {% endif %}
        </div>
        <div class="list"><a href="#">My Jobs &rarr; </a></div>
    <div class="list"><a href="{% url password_change %}">Change PIN &rarr; </a></div>
{% endblock %}
