{% extends "base_core.html" %}
{% block body %}
    <div id="main" class="content">
    {% block content %}
    {% endblock %}
    <div class="h2">My Ummeli</div>
    <div class="list"><a href="{% url profile %}">Work Profile</a> <span class="subtext">&rarr; {{user_profile.fields_complete|floatformat:0}}% complete</span></div>
    <div class="list"><a href="{% url my_connections %}">My Connections</a>
        {% if user_profile.connection_requests.exists %}
        <span class="subtext">&rarr; {{user_profile.connection_requests.count}} requests</span>
        {% else %}
        <span class="subtext">&rarr; {{user_profile.get_connnections_count}} connection{{user_profile.get_connnections_count|pluralize}}</span>
        {% endif %}
    </div>
    <div><a href="{% url my_community %}">My Community Board &rarr; </a></div>
    <div class="list"><a href="{% url my_settings %}">My Settings &rarr; </a></div>
    <div class="list"><a href="{% url send %}">Send as CV &rarr; </a></div>
    <div id="footer">
        &copy; {% now "Y" %} Praekelt Foundation<br /><a href="{% url home %}">Home</a> . <a href="/about/">About</a> . <a href="/terms/">Terms</a>
        . <a href="{% url logout %}">Sign Out</a>
    </div>
{% endblock %}
