{% extends "base.html" %}

{% block content %}
<div class="h2">Change PIN for {{request.user.username}}</div>
<form method="POST" class="content-form">
<fieldset>
    <label for="old_password">Old PIN</label>
    {% include "form_field_errors_snippet.html" with form_field=form.old_password %}
    <input class="txt" id="old_password" name="old_password" type="password"/>
    <label for="new_password1">New PIN</label>
    {% include "form_field_errors_snippet.html" with form_field=form.new_password1 %}
    <input class="txt" id="new_password1" name="new_password1" type="password"/>
    <label for="new_password2">Confirm New PIN</label>
    {% include "form_field_errors_snippet.html" with form_field=form.new_password2 %}
    <input class="txt" id="new_password2" name="new_password2" type="password"/>
    
    <input name="next" type="hidden" value="{{next}}"/>
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    <input type="submit" value="Submit" class="btn"/>
</fieldset>
</form>
{% endblock %}
