{% load comments %}
{% load livechat_tags %}

{% get_livechat_page livechat "page" %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>{{livechat.title}}</LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>{{livechat.description|safe}}</TEXT>
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
{% if user.is_active %}
    {% if livechat.active %}
        <CONTAINER type="data">
            <TEXT>
                Name: <b>
                {% if user.get_profile.comment_as_anon %}
                    Anon.
                {% else %}
                    {% if user.get_profile.fullname %}
                        {{ user.get_profile.fullname }}
                    {% else %}
                        Anon.
                    {% endif %}
                {% endif %}</b><br/>
                <LINK href="{% url my_comment_settings %}?{{uuid}}"><TEXT>Change your comment name</TEXT></LINK>
            </TEXT>
        </CONTAINER>
        <CONTAINER type="form">
        {% get_comment_form for livechat as form %}
        <FORM method="POST" href="{% comment_form_target %}" submit_text="Comment">
            <FIELD type='hidden' name='_action' value='POST' />
            <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
            <FIELD type='hidden' name='content_type' value='{{ form.content_type.value }}' />
            <FIELD type='hidden' name='object_pk' value='{{ form.object_pk.value }}' />
            <FIELD type='hidden' name='timestamp' value='{{ form.timestamp.value }}' />
            <FIELD type='hidden' name='security_hash' value='{{ form.security_hash.value }}' />
            <FIELD type='hidden' name='honepot' id='id_honeypod'/>
            <FIELD type="hidden" name="next" value="{{ current_url }}?&amp;answered={{answered}}&amp;popular={{popular}}" />
            <FIELD name="comment" type="text"/><br/>
        </FORM>
        </CONTAINER>
    {% else %}
        <CONTAINER type="data">
        <TEXT>
        <b><i>Comments are closed.</i></b>
        </TEXT>
        </CONTAINER>
    {% endif %}
{% else %}
    <CONTAINER type="data">
        <TEXT><color value="red">Your account has been deactivated for violating our
            <LINK href="/vlive/pages/terms/">
                <TEXT>terms and conditions</TEXT>
            </LINK>. If you feel you should not have been removed from this community,
        you may send a query
            <LINK href="{% url contactsupport %}">
                <TEXT>here</TEXT>
            </LINK>.</color></TEXT>
    </CONTAINER>
{% endif %}
</MODULE>

{% get_mylivechat livechat %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>My Questions</LABEL></HEADER>
</MODULE>
{% for comment in my_comments %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
<TEXT><b>{{ comment.submit_date|date:"D, j M Y, H:i" }}</b></TEXT>
<TEXT>
    {% spaceless %}
    {% if comment.is_community_moderated %}
        <color value="blue">
        <b>Moderated:</b> {{ comment.community_moderation_flags.latest.reason }}
        </color>
    {% else %}
        {% if comment.is_moderated %}
            <color value="red">
            <b>Moderated:</b> {{ comment.moderation_flags.latest.reason }}
            </color>
        {% else %}
            {{ comment.comment }}
        {% endif %}
    {% endif %}
    {% endspaceless %}
</TEXT>
<TEXT>{{ comment.like_count }} Likes</TEXT>
</CONTAINER>
</MODULE>

{% if comment.livechatresponse_set.exists %}
{% for response in comment.livechatresponse_set.all %}
<MODULE backgroundColor="false" palette="MiOrange">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>
    <color value="orange">
        <b>{{response.author.first_name}}</b>
        <br/>{{ response.updated_at|date:"D, j M Y, H:i" }}
        <br/>{{response.response}}
    </color>
    </TEXT>
</CONTAINER>
</MODULE>
{% endfor %}
{% endif %}

{% empty %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>My Questions</LABEL></HEADER>
<CONTAINER type="data">
<TEXT>You haven't asked any questions.</TEXT>
</CONTAINER>
</MODULE>
{% endfor %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>Questions</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>Show:</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{{ request.path }}">
        <TEXT>all questions</TEXT>
    </LINK>
    <LINK href="{{ request.path }}?&amp;answered=true">
        <TEXT>questions with answers</TEXT>
    </LINK>
    <LINK href="{{ request.path }}?&amp;answered=false">
        <TEXT>questions without answers</TEXT>
    </LINK>
    <LINK href="{{ request.path }}?&amp;popular=true">
        <TEXT>most popular questions first</TEXT>
    </LINK>
</CONTAINER>
</MODULE>

{% for comment in page.object_list %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
<TEXT><b>
    {% if comment.user.get_profile.comment_as_anon %}
        Anon.
    {% else %}
        {% if comment.user.get_profile.fullname %}
            <LINK href="{% url profile_view comment.user.pk %}"><TEXT>{{ comment.user.get_profile.fullname }}</TEXT></LINK>
        {% else %}
            Anon.
        {% endif %}
    {% endif %}
 - {{ comment.submit_date|date:"D, j M Y, H:i" }} </b><br/>
</TEXT>
<TEXT>
    {% spaceless %}
    {% if comment.is_community_moderated %}
        <color value="blue">
        <b>Moderated:</b> {{ comment.community_moderation_flags.latest.reason }}
        </color>
    {% else %}
        {% if comment.is_moderated %}
            <color value="red">
            <b>Moderated:</b> {{ comment.moderation_flags.latest.reason }}
            </color>
        {% else %}
            {{ comment.comment }}
        {% endif %}
    {% endif %}
    {% endspaceless %}
</TEXT>
<TEXT>
    <LINK href="{% url comment_like comment.pk %}?{{uuid}}">
        <TEXT>+Like ({{ comment.like_count }})</TEXT>
    </LINK>
    <LINK href="{% url comment_flag comment.pk %}?{{uuid}}">
        <TEXT>Report</TEXT>
    </LINK>
</TEXT>
</CONTAINER>
</MODULE>

{% if comment.livechatresponse_set.exists %}
{% for response in comment.livechatresponse_set.all %}
<MODULE backgroundColor="false" palette="MiOrange">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>
    <color value="orange">
        <b>{{response.author.first_name}}</b>
        <br/>{{ response.updated_at|date:"D, j M Y, H:i" }}
        <br/>{{response.response}}
    </color>
    </TEXT>
</CONTAINER>
</MODULE>
{% endfor %}
{% endif %}

{% endfor %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>Page {{ page.number }} of {{ page.paginator.num_pages }}</LABEL></HEADER>
<CONTAINER type="data">
<TEXT><br/>
    {% if page.has_previous %}
    <LINK href="{{request.path}}?p={{page.previous_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}&amp;{{uuid}}"><TEXT>&lt;&lt; Previous</TEXT></LINK>
    {% endif %}
    {% if page.has_next %}
    <LINK href="{{request.path}}?p={{page.next_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}&amp;{{uuid}}"><TEXT>Next &gt;&gt;</TEXT></LINK>
    {% endif %}
</TEXT>
</CONTAINER>
</MODULE>
