{% load opportunities_tags %}
<div class="wrap">
    <strong>{{object.title}}</strong>
    <br/>
    <br/>
    {{ object.description|safe }}
</div>
<br/>
{% if object.must_qualify and not has_qualified %}
<h2>
    You need to qualify
</h2>
<div class="wrap">
    Before you begin, you must successfully complete this phone-check qualification task.
    <br/>
    <a href="{% url campaign_qualify object.slug %}">
        Qualification Task
    </a>
</div>
{% else %}
<div class="wrap">
    {% get_tasks_for_user object as user_tasks %}
    {% if user_tasks %}
    <div class="list-separated">
    <a href="{% url my_micro_tasks object.slug %}">
        My Tasks ({{user_tasks.count}})
    </a>
    </div>
    {% endif %}

    <div class="list-separated">
    <a href="{% url micro_tasks object.slug %}">
        Availabe Tasks ({{object.available_tasks.count}})
    </a>
    </div>
</div>
{% endif %}
<br/>
<div class="more"><a href="{% url opportunities %}">&larr; Back</a></div>

<h2>Quick Menu</h2>
<div class="bullet"><a href="{% url qualify_device_change %}?next={{request.path}}">Change device ({{device.name}})</a></div>
<div class="bullet"><a href="{% url device_privacy %}?next={{request.path}}">Device Settings</a></div>
<div class="bullet"><a href="{% url my_microtasks %}">My Tasks</a>
    {% if request.user.taskcheckout_set %}
    <span class="subtext"> &rarr; {{request.user.taskcheckout_set.count}} task{{request.user.taskcheckout_set.count|pluralize}}</span>
{% endif %}
</div>
