{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url campaigns %}">Campaigns</a> &raquo;
        Device Instructions
    </h2>
    <h2>Instructions</h2>
    <div class="wrap">
        <p>Instructions for: <strong><a href="{% url qualify_device_change %}?next={{request.path}}">{{device.name}} (change)</a></strong></p>

        <p>The settings to enable GPS tagging are different for different phones.</p>

        {% include device.template %}
    </div>
    <br/>
    <div class="more"><a href="{{next}}">&larr; Back</a></div>
{% endblock %}
