{% extends "base.html" %}

{% block content %}
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a> &raquo;
    {{object.title}}
</div>
<h2>Terms and Conditions</h2>
<div class="wrap">
    <p>
    <ul>
        <li class="bullet">You will receive R10 airtime for every successful Task</li>
        <li class="bullet">All travel costs are at your expense</li>
        <li class="bullet">All actions/tasks you perform are at your own risk</li>
        <li class="bullet">Neither Ummeli nor Tom Tom will be held liable</li>
        <li class="bullet">You may not use/sell/give any information you gather to other organisations</li>
    </ul>
    </p>
    <p><a href="{% url micro_task_upload object.slug %}">Complete Task</a></p>
</div>
<div class="more"><a href="{% url micro_task_detail object.slug %}">&larr; Back</a></div>

{% endblock %}
