{% extends "base.html" %}

{% block content %}
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a>
</div>
<h2>{{object.title}}</h2>
<div class="wrap">
    <div>{{object.description}}</div>
    <div>{{object.tomtommicrotask.location.city}}</div>
    {% if device.name == 'Apple' %}
    {% include device.template %}
    {% endif %}

    {% include 'opportunities/tomtom/device_general_guidelines.html' %}

    <h2>Information</h2>
    <div>
        <ul>
            <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
            <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
            <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
            <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
            <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
            <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
        </ul>
    </div>
    <h2 class="warning">Location has changed</h2>
    <ul>
        <li>Tell us why you say this location has changed or moved</li>
        <li>You are still required to give the picture of the location</li>
    </ul><br/>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
        <div class="form-fields">
            <label>Reason:</label>
            <div><strong>Please explain what you see</strong></div>
            {% include "form_field_errors_snippet.html" with form_field=form.comment %}
            {{form.comment}}
        </div>
        <label>Picture:*</label>
        {% include "form_field_errors_snippet.html" with form_field=form.file %}
        {{form.file}}
        <br/>
        <input type="hidden" value="True" name="poi_has_changed"/>
        <input type="submit" value="Send" class="btn"/>
        {% csrf_token %}
        </fieldset>
    </form>
    <br/>
    <div class="more"><a href="{% url micro_task_detail object.slug %}">&larr; Back</a></div>
</div>

{% endblock %}
