{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url campaigns %}">Campaigns</a> &raquo;
        <a href="{% url campaign_detail object.slug %}">{{object.title}}</a>
    </h2>

    {% include 'opportunities/tomtom/device_general_guidelines.html' %}

    <h2>Qualification Task</h2>
    <div class="wrap">
        {% if error %}
            <div class="warning">
                Your image did not contain GPS info. Please check your camera settings and re-take the picture.
            </div>
        {% endif %}
        <strong>{{object.title}}</strong>
        <br/><br/>
        {{object.qualification_instructions|safe}}
        <br/><br/>
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <input type="file" name="file"/>
                <input type="submit" value="Send" class="btn"/>
                {% csrf_token %}
            </fieldset>
        </form>
    </div>
    <br/>
    <div class="more"><a href="{% url qualify_device object.slug %}">&larr; Back</a></div>
{% endblock %}
