{% extends "base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url campaigns %}">Campaigns</a>
    </div>
    <h2>Qualification Task</h2>
    <div class="wrap">
        <p>TomTom tasks need phones that can record GPS-encoded pictures. Not all phones have GPS functionality. Before you begin, we must test your phone.</p>

        <p>We recognise your phone as a: <strong>{{device.name}}</strong></p>

        <p><a href="{% url qualify_device object.slug %}">Continue to test &rarr;</a><br/>
        Not your phone? <a href="{% url qualify_device_change %}?next={{request.path}}">Click here</a></p>

    </div>
    <br/>
    <div class="more"><a href="{% url campaign_detail object.slug %}">&larr; Back</a></div>
{% endblock %}
