{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url campaigns %}">Campaigns</a> &raquo;
        <a href="{% url campaign_detail object.slug %}">{{object.title}}</a>
    </h2>
    <h2>Qualification Task</h2>
    <div class="wrap">
        <p>In order to perform tasks you need to have a phone that can take GPS encoded pictures. We need to test if your phone has the right capabilities.</p>

        <p>We recognise your phone as a: Samsung</p>

        <p><a href="#">Continue to test &rarr;</a><br/>
        not your phone? <a href="#">Click here</a></p>

    </div>
    <br/>
    <div class="more"><a href="{% url campaigns %}">&larr; Back</a></div>
{% endblock %}
