{% extends "base.html" %}

{% block content %}
<style type="text/css">
.form-radio label, .form-radio input{
    display: inline;
    padding: 5px;
}
.form-radio{
    margin: 5px 0;
}
</style>
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a> &raquo;
    Change device
</div>
<h2>Choose a device</h2>
<div class="wrap">
    <form method="post">
        <fieldset>
            {% include "form_field_errors_snippet.html" with form_field=form.device %}
            <div class="form-radio">
                <input type="radio" name="device" value="Nokia" id="nokia"/>
                <label for="nokia">Nokia</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="Samsung" id="samsung"/>
                <label for="samsung">Samsung</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="Apple" id="apple"/>
                <label for="apple">Apple (iOS)</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="rim" id="rim"/>
                <label for="rim">BlackBerry</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="Motorola" id="motorola"/>
                <label for="motorola">Motorola</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="Android" id="android"/>
                <label for="android">Google Nexus / Android</label>
            </div>
            <div class="form-radio">
                <input type="radio" name="device" value="other" id="other"/>
                <label for="other">Other</label>
            </div>
        </div>
            <input type="submit" value="Send" class="btn"/>
            {% csrf_token %}
        </fieldset>
    </form>
</div>
<br/>
<div class="more"><a href="{{next}}">&larr; Back</a></div>
{% endblock %}
