{% extends "base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo;
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url campaigns %}">Campaigns</a> &raquo;
    </div>
    <h2>Qualification Task</h2>
    <div class="wrap">
        <p>Instructions for: <strong>{{device.name}}</strong></p>

        <p>The settings to enable GPS tagging are different for different phones.</p>

        {% include device.template %}

        {% if device.name != 'Apple' %}
        <p><a href="{% url qualify_upload object.slug %}">Continue to upload &rarr;</a></p>
        {% endif %}

    </div>
    <br/>
    <div class="more"><a href="{% url campaign_qualify object.slug %}">&larr; Back</a></div>
{% endblock %}
