{% extends "base.html" %}

{% load poll_tags comments %}


{% block title %}: {{ article.title }}{% endblock %}


{% block content %}
<div class="h2"><a href="{% url article_list %}">News</a> &raquo;  {{article.title}}</div>
<div class="article list">
    <div class="h3">{{ article.title }}</div>

    <span class="byline news">
        <small>
        {{ article.updated|date:"D, j M Y, H:i" }} //
        <a href="#comment_list">
        	{{ comment_count.count }} comment{{ comment_count|pluralize }}
        </a><br />
        {{ article.like_count }} Like{{ article.like_count|pluralize }}

        {% if user.is_authenticated %}
            <a href="like/">+Like</a>
        {% endif %}
        </small>
    </span>
</div>

<div class="wrap">
    {{ article.content|safe }}

    {% if article.linked_article or article.linked_page %}
        <strong>See also:</strong>
        <ul>
        {% if article.linked_article %}
            <li>
                <a href="{% url article_detail_redo article.linked_article.pk %}">
                    {{ article.linked_article.title }}
                </a>
            </li>
        {% endif %}

        {% if article.linked_page %}
            <li>
                <a href="{{ article.linked_page.url }}">
                    {{ article.linked_page.title }}
                </a>
            </li>
        {% endif %}
        </ul>
    {% endif %}
</div>

{% if article.poll and article.poll.published %}
<div class="h2">Poll</div>
{% show_poll article.poll %}
{% endif %}

{% if article.video %}
    <div class="h2" class="black">Video</div>
    {% with article.video as video %}
    <a href="{{video.video.url}}">
        <img src="{{video.thumbnail.url}}">
    </a>
    {% endwith %}
    <p></p>
{% endif %}
<div class="h2" id="comment_list">{{ comment_count }} comment{{ comment_count|pluralize }}</div>

<div class="comment_list">
    {% for comment in comment_list.object_list %}
        <div id="c{{ comment.id }}">
            <div class="comment-item">
                <!-- link to user profile -->
                <span class="byline">
                    <strong>
                        {% if comment.user.get_profile.comment_as_anon %}
                            Anon.
                        {% else %}
                            {% if comment.user.get_profile.fullname %}
                                <a href="{% url profile_view comment.user.pk %}">{{ comment.user.get_profile.fullname }}</a>
                            {% else %}
                                Anon.
                            {% endif %}
                        {% endif %}
                    </strong>
                 -

                {{ comment.submit_date|date:"D, j M Y, H:i" }}
                </span>

                <p class="comment">{% spaceless %}
                    {% if comment.is_community_moderated %}
                        <strong>Moderated:</strong> {{ comment.community_moderation_flags.latest.reason }}
                    {% else %}
                        {% if comment.is_moderated %}
                            <strong>Moderated:</strong> {{ comment.moderation_flags.latest.reason }}
                        {% else %}
                            {{ comment.comment }}
                        {% endif %}
                    {% endif %}{% endspaceless %}
                </p>

                <div class="article-tools">
                    <div class="likes">
                        {{ comment.like_count }} Like{{ comment.like_count|pluralize }}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="tag"><a href="{% url comment_like comment.pk %}">+Like</a></div>
                    {% endif %}
                    <div class="tag">
                        {% if user.is_authenticated %}
                            <a href="{% url comment_flag comment.pk %}">Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="topnav">
    {% if comment_list.has_previous %}
        <span><a href="{% url article_detail_redo article.pk comment_list.previous_page_number %}">Previous</a></span> |
    {% else %}
        <span>Previous</span> |
    {% endif %}

    <span class="current">
        Page {{ comment_list.number }} of {{ comment_list.paginator.num_pages }}
    </span>

    {% if comment_list.has_next %}
        | <span><a href="{% url article_detail_redo article.pk comment_list.next_page_number %}">Next</a></span>
    {% else %}
        | <span>Next</span>
    {% endif %}
</div>

<div class="wrap" id="comment_form">
    {% if article.comments_enabled %}
        {% if user.is_authenticated %}

            {% get_comment_form for article as form %}

            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                <div style="display:none;">
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    {{ form.honeypot }}
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}#comment_list" />
                </div>

                <p>
                    Write your comment:
                    <br/>
                    <div class="form-fields">
                    {{ form.comment }}
                    </div>
                </p>
                <p>
                    <input type="submit" name="post" value="Comment" class="btn"/>
                </p>
            </form>

        {% else %}
            <p><a href="{% url login %}">Sign in</a> or <a href="{% url register %}">register</a> to comment.</p>
        {% endif %}
    {% else %}
        <p><em>Comments are closed.</em></p>
    {% endif %}
</div>







{% endblock %}
