{% extends "base_core.html" %}
{% block body %}

    {% block content %}
    {% endblock %}
    <br/>
    <h2>Menu</h2>
    <div id="menu">
        <div><a href="{% url home %}">Home</a></div>
        <div><a href="{% url article_list %}">Latest</a></div>
        <div><a href="{% url opportunities %}">Opportunities</a></div>
        <div><a href="{% url community_jobs %}">Community Board</a></div>
        <div><a href="{% url tips %}">Tips</a></div>
        <div><a href="{% url my_ummeli %}">My Ummeli</a></div>
    </div>

<script type="text/javascript" src="{{ STATIC_URL }}js/atlas.js"></script>
{% endblock %}
