{% extends "base.html" %}

{% block content %}
    <h2>
        <a href="{% url community_jobs %}">Community Board</a> &raquo; 
        Job</a>
    </h2>
    <div class="article">
        <strong>{{job.title}}</strong><br/>
        {% if job.province %}<small><strong>{{job.province}}</strong></small><br/>{% endif %}
        {{ job.text }}
        <br/><br/><span style="color: blue">submitted by <a href="{% url profile_view job.user.pk %}">{{job.user.get_profile.fullname}}</a></span>
    </div>
    <div class="more"><a href="{% url community_jobs %}">&larr; Back</a></div>
    <br/>
    <h2>Apply for this job</h2>
    <form name="pd" method="POST" class="content-form"> 
    {% if user.is_authenticated %}
        {% if user_profile.missing_fields %}
            <strong>Missing fields</strong>
            <div class="warning">
                Your CV is incomplete. Please make sure that the following information is 
                completed before you can send your CV.
            </div>
            {% for field in user_profile.missing_fields %}
                - {{field}}<br/>
            {% endfor %}
        {% else %}
        <fieldset> 
        <strong>* = Required</strong><br />
          <label for="email">Email CV To:*</label>
          <span class="subtext">(example) someone@email.com</span>
          {% include "form_field_errors_snippet.html" with form_field=form.send_to %}
          <input type="text" class="txt" name="send_to"/>
          <input type="submit" name="signin-btn" value="Send" class="btn" />
          <input type='hidden' name='user_submitted' value='{{job.user_submitted}}' />
          <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
          <input type="hidden" name="send_via" value="email" />
        </fieldset>
        {% endif %}
    {% else %}
        <div class="warning">Please <a href="{% url login %}?next={% url community_jobs job.pk %}">sign in</a> 
        or <a href="{% url register %}">register</a> with Ummeli to apply for this job</div>
    {% endif %}
    </form>
{% endblock %}
