{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="crumbs">
        <a href="{% url my_ummeli %}">My Ummeli</a> &raquo;
        <a href="{% url my_connections %}">My Connections</a> &raquo;
        <a href="{% url profile_view user_id %}">{{other_user_profile.fullname}}</a>
    </div>

    <h2>Jobs Posted</h2>
        {% if object_list %}
        {% for item in object_list %}
            <div class="list-separated"><a href='{% url connection_jobs user_id item.pk %}'>{{ item.title|truncatewords:10 }} {% if item.province %}({{item.province}}){%endif%}</a>
            <br/>
            {{item.description|truncatewords:10}}
            <br/>
            <small>
                {{ item.created|timesince }} ago
            </small>
            </div>
        {% endfor %}
        {% endif %}

        <div id="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span> |
        {% else %}
            <span>Previous</span> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
            | <span>Next</span>
        {% endif %}
        </div>
        <div class="more"><a href="{% url profile_view user_id %}">&larr; Back</a></div>
    </form>
{% endblock %}
