{% extends "base.html" %}

{% block content %}
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo; Reset PIN</div>
<h2>Forgot your PIN?</h2>
<div class="wrap">
<p>No worries, we'll SMS your PIN to your mobile!</p>
</div>
<form class="content-form" method="POST">
<fieldset>
    <div class="form-fields">
    <label for="form-username">What's your mobile number?</label>
    {% include "form_field_errors_snippet.html" with form_field=form.username %}
    {{form.username}}
    </div>
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    <input type="submit" class="btn" value="Send PIN"/>
</fieldset>
</form>
<div class="more"><a href="{% url login %}">Return to sign in</a></div>
{% endblock %}
