{% extends "base.html" %}

{% block content %}
    <h4>Browse Jobs</h4>
    <p>
    Ummeli jobs come from established online sources or have been posted 
    by the Ummeli community. We've clearly marked which is which. Find jobs by 
    selecting your province, then the  job category you're interested in. 
    <br/>
    <br/>
    Remember, your best chances of getting a job are to choose categories that you 
    have real interest or experience in!
    </p>
    <br/>
    {% for province in provinces %}
    <div class="bullet"><a href="{% url jobs_list province.search_id %}">{{province.name}} &rarr;</a></div>
    {% endfor %}
{% endblock %}
