{% extends "my_ummeli_base.html" %}

{% block content %}
    <h2><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url my_settings %}">My Settings</a> &raquo; Comment Settings</h2>
    <form class='content-form' method="post">
    <fieldset>
        <label>What name do you want shown on your comments?</label>
        
        {% if form.comment_as_anon.value %}
        <input type="radio" name="comment_as_anon" value="True" checked="checked"/> Anon.<br/>
        <input type="radio" name="comment_as_anon" value="False" /> {{object.fullname}}<br/>
        {% else %}
        <input type="radio" name="comment_as_anon" value="True"/> Anon.<br/>
        <input type="radio" name="comment_as_anon" value="False" checked="checked"/> {{object.fullname}}<br/>
        {% endif %}
        
        <input type="submit" class="btn" value="Save" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url my_settings %}">&larr; Back</a></div>
{% endblock %}
