{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo; <a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url my_jobs %}">My Jobs</a></div>
    <h2>Confirm delete</h2>
    <form class='content-form' method="post">
        <div>Are you sure you want to delete <strong>{{object.title}}</strong>?</div>
        <input type="submit" class="btn" value="Delete" name="submit" />
        {% csrf_token %}
    </form>
    <div class="more"><a href="{{cancel_url}}">&larr; Cancel</a></div>
{% endblock %}
