{% extends "base_core.html" %}
{% block body %}

    {% block content %}
    {% endblock %}

    <div class="my">
    <h2>My Ummeli</h2>
    <div><a href="{% url profile %}">Work Profile</a> <span class="subtext">&rarr; {{user_profile.fields_complete|floatformat:0}}% complete</span></div>
    <div><a href="{% url my_connections %}">My Connections</a>
        {% if user_profile.connection_requests.exists %}
        <span class="subtext">&rarr; {{user_profile.connection_requests.count}} requests</span>
        {% else %}
        <span class="subtext">&rarr; {{user_profile.get_connnections_count}} connection{{user_profile.get_connnections_count|pluralize}}</span>
        {% endif %}
    </div>
    <div class="bullet"><a href="{% url my_microtasks %}">My Tasks</a><span class="subtext">  &rarr; {{request.user.taskcheckout_set.count}} tasks</span></div>
    <div><a href="{% url my_settings %}">My Settings &rarr; </a></div>
    <div><a href="{% url send %}">Send as CV &rarr; </a></div>
</div>
{% endblock %}
