{% extends "base.html" %}

{% block title %}
    Change pin for {{request.user.username}}
{% endblock %}

{% block content %}
<div class="h2">Change pin for {{request.user.username}}</div>
<form method="POST" class="standard">
    {% if form.errors %}
        <div style="color: red">Pin codes don&apos;t match.</div>
    {% endif %}
        
        <label for="old_password">Old Pin</label>
        <input id="old_password" name="old_password" type="password"/>
        <label for="new_password1">New Pin</label>
        <input id="new_password1" name="new_password1" type="password"/>
        <label for="new_password2">Confirm New Pin</label>
        <input id="new_password2" name="new_password2" type="password"/>
        
        <input name="next" type="hidden" value="{{next}}"/>
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
        <input type="submit" value="Submit" class="submit"/>
        <span class="button"><a href="{% url index %}">Cancel</a></span>
</form>
{% endblock %}
