<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>{{title|default:"Ummeli"}}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <META HTTP-EQUIV="refresh" CONTENT="0;URL={{redirect_url}}?{{uuid}}" />
    </head>
<body>
    <div class="header">
        <a href="{% url index %}"><img src="{{ STATIC_URL }}images/ummeli-logo.jpg" alt="Ummeli" /></a>
    </div>
    
    <div>
    {{redirect_message}}
    <br/>
    Please wait while we automatically redirect you. <br/>
    <a href="{{redirect_url}}?{{uuid}}">Click here</a> if it's taking too long.
    </div>
    
    <div class="footer">
        &copy; {% now "Y" %} {{title|default:"Ummeli"}} 
        <a href="{% url index %}terms/">Terms</a> | 
        <a href="{% url index %}privacy/">Privacy</a> | 
        {% if request.is_authorized %}
        <a href="{% url logout %}">Logout</a></div>
        {% else %}
        <a href="{% url login %}?next={{request.path}}">Login</a></div>
        {% endif %}
</body>
</html>
