{% extends "base.html" %}

{% block content %}
<div class="h2">Terms and Conditions</div>
    <form class='standard'>
    <div>
        <p>
        Praekelt Foundation cannot be held responsible for the accuracy of job 
        information, specifications, nor contact information (like fax numbers, telephone 
        numbers, email addresses and website details), of any jobs advertised on 
        Ummeli.  We source this information from job search engines like "We got Ads" 
        and other partners.  The database of jobs is however only as strong as the 
        community that uses it, so YALLERS are strongly encouraged to share job 
        opportunities that they know of, with fellow community members.
        </p>
        <p>
        We reserve the right to deactivate user accounts that are making 
        inappropriate use of Ummeli or we suspect are being used for illegal 
        activities.
        </p>
    </div>
    </form>
</div>
{% endblock %}
