{% extends "base.html" %}

{% block content %}
<h2>Tips</h2>
<div class="content-area">
    {% for article in articles %}
    <div class="img-article list">
        <img src="{% if article.image %}{{MEDIA_URL}}{{ article.image }}{% else %}/ummeli-static/media/latest.jpg{% endif %}" width="56" alt="Title Here" class="left">
        <div>
            <a href="{% url article_detail_redo article.pk %}">{{ article.title }}</a> {{ article.description }}
        </div>
        <span class="byline news">
            <small>{{ article.updated|date:"D, j M Y" }}</small>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}
