{% extends "base.xml" %}

{% load poll_tags comments vlive_tags livechat_tags %}

{% block content %}
<HEADER><LABEL>Ummeli</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
<CONTAINER type="image">
    <IMAGE href="{% if article.image %}{{ article.image.url }}{% else %}/ummeli-static/media/latest.jpg{% endif %}" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>{{ article.title }}</TITLE>
    <TEXT>{{ article.description }}</TEXT>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<CONTAINER type="data">
    <TEXT>
    {% if article.published_on %}
    <b>{{ article.published_on|date:"D, j M Y" }}</b><br/>
    {% endif %}
    <b>{{ article.like_count }} Like{{ article.like_count|pluralize }}</b>
         | <LINK href="{% url article_detail article.pk %}like/?{{uuid}}">+Like</LINK>
    <br/>
    </TEXT>
    <TEXT>
        {{ article.content|sanitize_html|safe }}
        <br/>
        <br/>
    </TEXT>
</CONTAINER>
{% if article.linked_article or article.linked_page %}
    <CONTAINER type="data">
        <TEXT>
            <b>See also:</b>
        </TEXT>
    </CONTAINER>
    {% if article.linked_article %}
    <CONTAINER type="list">
        <LINK href="{% url article_detail_redo article.linked_article.pk %}?{{uuid}}">
            <TEXT>{{ article.linked_article.title }}<TEASER>{{ article.linked_article.description }}</TEASER></TEXT>
        </LINK>
    </CONTAINER>
    {% endif %}
    {% if article.linked_page %}
    <CONTAINER type="list">
        <LINK href="{{ article.linked_page.url }}?{{uuid}}">
            <TEXT>{{ article.linked_page.title }}</TEXT>
        </LINK>
    </CONTAINER>
    {% endif %}
{% endif %}
</MODULE>

{% for poll in article.polls.all %}
{% if poll and poll.published %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Poll</LABEL></HEADER>
</MODULE>
    {% show_poll poll %}
{% endif %}
{% endfor %}

{% if article.downloads.exists %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Downloads</LABEL></HEADER>
    <CONTAINER type="list">
        {% for download in article.downloads.all %}
            {% if download.state == 'published' %}
            <LINK href="{{ download.get_absolute_url }}">
                <TEXT>Download: {{download.title}}</TEXT>
            </LINK>
            {% endif %}
        {% endfor %}
    </CONTAINER>
</MODULE>
{% endif %}

{% get_livechat_for_article article "livechat" %}
{% if livechat %}
    {% include "livechat/embed.html" %}
{% endif %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
{% endblock %}
