{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Featured</LABEL></HEADER>
<CONTAINER type="data">
<TEXT>
{% for article in article_list %}
    <LINK href="{% url article_detail article.pk %}?{{uuid}}">
        <TEXT>{{ article.title }}</TEXT>
    </LINK>  {{ article.description }} <br/>
{% endfor %}
</TEXT>
</CONTAINER>
<CONTAINER type="list">
    {% if page_obj.has_previous %}
    <LINK href="{% url article_list page_obj.previous_page_number %}?{{uuid}}">
        <TEXT>&lt; Newer articles</TEXT>
    </LINK>
    {% endif %}
    {% if page_obj.has_next %}
    <LINK href="{% url article_list page_obj.next_page_number %}?{{uuid}}">
        <TEXT>Older articles &gt;</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
{% endblock %}
