{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Latest</LABEL></HEADER>
</MODULE>
{% for article in article_list %}
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
    <CONTAINER type="image">
    <IMAGE href="{% if article.image %}{{ article.image.url }}{% else %}/ummeli-static/media/write.jpg{% endif %}" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>
        <LINK href="{% url article_detail_redo article.pk %}?{{uuid}}">
            {{ article.title }}
        </LINK>
    </TITLE>
    <TEXT>{{ article.description }}<br/>
        {{ article.published_on|date:"D, j M Y" }}
    </TEXT>
    </CONTAINER>
</MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if page_obj.has_previous %}
    <LINK href="{% url article_list page_obj.previous_page_number %}?{{uuid}}">
        <TEXT>&lt; Previous</TEXT>
    </LINK>
    {% endif %}
    {% if page_obj.has_next %}
    <LINK href="{% url article_list page_obj.next_page_number %}?{{uuid}}">
        <TEXT>Next &gt;</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
{% endblock %}
