{% load comments %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL>Share your comment</LABEL></HEADER>
{% if user.is_active %}
    {% if article.comments_enabled %}
        <CONTAINER type="data">
            <TEXT>
                Name: <b>
                {% if user.get_profile.comment_as_anon %}
                    Anon.
                {% else %}
                    {% if user.get_profile.fullname %}
                        {{ user.get_profile.fullname }}
                    {% else %}
                        Anon.
                    {% endif %}
                {% endif %}</b><br/>
                <LINK href="{% url my_comment_settings %}?{{uuid}}"><TEXT>Change your comment name</TEXT></LINK>
            </TEXT>
        </CONTAINER>
        <CONTAINER type="form">
        {% get_comment_form for article as form %}
        <FORM method="POST" href="{% comment_form_target %}" submit_text="Comment">
            <FIELD type='hidden' name='_action' value='POST' />
            <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
            <FIELD type='hidden' name='content_type' value='{{ form.content_type.value }}' />
            <FIELD type='hidden' name='object_pk' value='{{ form.object_pk.value }}' />
            <FIELD type='hidden' name='timestamp' value='{{ form.timestamp.value }}' />
            <FIELD type='hidden' name='security_hash' value='{{ form.security_hash.value }}' />
            <FIELD type='hidden' name='honepot' id='id_honeypod'/>
            <FIELD type="hidden" name="next" value="{{ article.get_absolute_url }}#comment_list" />
            <FIELD name="comment" type="text"/><br/>
        </FORM>
        </CONTAINER>
    {% else %}
        <CONTAINER type="data">
        <TEXT>
        <b><i>Comments are closed.</i></b>
        </TEXT>
        </CONTAINER>
    {% endif %}
{% else %}
    <CONTAINER type="data">
        <TEXT><color value="red">Your account has been deactivated for violating our
            <LINK href="/vlive/pages/terms/">
                <TEXT>terms and conditions</TEXT>
            </LINK>. If you feel you should not have been removed from this community,
        you may send a query
            <LINK href="{% url contactsupport %}">
                <TEXT>here</TEXT>
            </LINK>.</color></TEXT>
    </CONTAINER>
{% endif %}
</MODULE>
<MODULE backgroundColor="false" palette="MiOrange">
<HEADER><LABEL>Help keep your Ummeli clean</LABEL></HEADER>
<CONTAINER type="data">
<TEXT>
<p><b>Report</b> any comments that are abusive, inappropriate, chat or
   break any of our other commenting rules.</p>
<br/>
<p>3 separate reports and the comment will be removed.</p>
<p><b>Don't know the rules?</b> <LINK href="/vlive/pages/rules/">Read them here.</LINK></p>
</TEXT>
</CONTAINER>
</MODULE>
<MODULE palette="MiDove">
<HEADER><LABEL>{{ comment_count }} comment{{ comment_count|pluralize }}</LABEL></HEADER>
</MODULE>
{% for comment in comment_list.object_list %}
<MODULE backgroundColor="false" palette="MiDove">
<CONTAINER type="data">
<TEXT><b>
    {% if comment.user.get_profile.comment_as_anon %}
        Anon.
    {% else %}
        {% if comment.user.get_profile.fullname %}
            <LINK href="{% url profile_view comment.user.pk %}"><TEXT>{{ comment.user.get_profile.fullname }}</TEXT></LINK>
        {% else %}
            Anon.
        {% endif %}
    {% endif %}
 </b><small> {{ comment.submit_date|timesince }} ago</small><br/>
</TEXT>
<TEXT>
    {% spaceless %}
    {{ comment.comment }}
    {% endspaceless %}
</TEXT>
</CONTAINER>
</MODULE>
<MODULE role="MOD20" palette="MiDove">
<CONTAINER type="list">
<LINK href="{% url comment_like comment.pk %}?{{uuid}}">
    {{ comment.like_count }} Like{{comment.like_count|pluralize}}
</LINK>
</CONTAINER>
<CONTAINER type="list">
<LINK href="{% url comment_flag comment.pk %}?{{uuid}}">
{% with flag_count=comment.community_moderation_flags.latest.flag_count %}
{% if flag_count %}{{ flag_count }}{% else%} 0 {%endif%}
 Report{{flag_count|pluralize}}
{% endwith %}
</LINK>
</CONTAINER>
</MODULE>
<MODULE><CONTAINER type="data"><TEXT>____________________</TEXT></CONTAINER></MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="data">
<TEXT><br/>
    {% if comment_list.has_previous %}
    <LINK href="{% url article_detail_redo article.pk comment_list.previous_page_number %}?{{uuid}}"><TEXT>&lt;&lt; Previous</TEXT></LINK>
    {% endif %}
    {% if comment_list.has_next %}
    <LINK href="{% url article_detail_redo article.pk comment_list.next_page_number %}?{{uuid}}"><TEXT>Next &gt;&gt;</TEXT></LINK>
    {% endif %}
</TEXT>
</CONTAINER>
</MODULE>
