/*---------------------------    
	Site Title website sections: 

	0.	CSS Reset & Body
	1.	Wrapper 
	2.	Header
	3.	Navigation
	4.	Images
	5.	Icons & Copy  
	6.	Fonts 
	7.	Partners 
	8.	Footer

-----------------------------*/


/*---------------------------
0.	CSS Reset, Body & Wrapper
-----------------------------*/
* {margin:0; padding:0; border:0px none;}
ul, ol, li {list-style-type:none;}
a {text-decoration:none; color:#465b67; }
a:hover {text-decoration:underline;}
body {font:10pt "Arial", Helvetica, sans-serif; color:black; background:#eceff1 url(../images/bg.jpg) repeat; margin:0; padding:0; border:0px none;}
.wrapper {margin:0; padding:0 10px; border:0px none; max-width:500px; min-width:180px; margin:0 auto; text-align:left;}
*html .wrapper {width:400px;}
.right{float: right;}       

/*---------------------------
2.	Header
-----------------------------*/
.header {margin:0; padding:12pt 0 20pt; width:100%; text-align:center; background:url(../images/ruler.gif) 0 bottom repeat-x;}
      

/*---------------------------
3.	Navigation
-----------------------------*/
.nav, .paging{width:100%; margin:1px 0 0 0; clear:both; text-align:center; color:#fff; padding: 10px 0; background: #577384;}
	.nav a {margin:0 1pt; clear:both; text-align:center; color:#fff; font-size:115%; font-weight:bold;} 

.paging {color: #999 !important;} 
.paging .current{color: #4c6c7e}  
.paging a {margin:0 1pt; clear:both; text-align:center; color:#4c6c7e; font-weight:bold;} 

#menu div, .menu div, .bullet{border-bottom: 2px solid #f1f2f3;margin-left:5px;padding:5pt 0 5pt 10pt;background:url(../images/bullet.gif) 0 8pt no-repeat;}
#menu div:last-child{border-bottom:none}
/*---------------------------
4.	Images
-----------------------------*/
.banner-ruler { background:url(../images/ruler.gif) 0 bottom repeat-x; clear:both; margin:0; padding:0; width:100%; height:9px;}
img.banner {width:100%; margin:0; padding-bottom: 2px; border-bottom: 5px solid #577384;} 


/*---------------------------
5.	Icons & Copy
-----------------------------*/
.icon-container {float:left; width:100%; padding:10pt 0 6pt; border-top:2px dotted #999;}
	.news {padding:2pt 0 10pt; border:0;}
	.icon-container .icon {float:left; width:75px; text-align:left; }
		.icon-container .icon img {margin:0 10pt 0 0;}
	.icon-container .copy {padding-left:75px;}
		.icon-container .copy .message {display:none; } 
		.icon-container .copy p {padding:2pt 0; margin:0;} 
		.icon-container .copy p.controls {font-weight:bold;}			
             

/*---------------------------
6.	Fonts
-----------------------------*/
h1 { color:#fff; font:bold 100%/125% "Arial", Helvetica, sans-serif; letter-spacing:-0.01em; margin:20px 0 5px 0; padding:5px; background: #577384}
h2 { font:bold 100%/125% "Arial", Helvetica, sans-serif; letter-spacing:-0.01em; margin:2px 0 0 0; padding:5px; background:#577384; color: #fff;}
	h2 a{color:#E9BC00; font-weight:bold;}
h3 { font:bold 115%/130% "Arial", Helvetica, sans-serif; margin:0 0 10pt;}
h4 { font:bold 103%/130% "Arial", Helvetica, sans-serif; margin:0; color: #222;}
	h4 em {display:block; color:#577384; font-style:italic;}
p {font-size:100%; line-height:135%; margin:0 5px 10pt;}
	p a, .more a {color:#c36e01; font-weight:bold;}
em {font-style:normal;font-weight:bold;}
input, textarea, select {display: block; font:90% "Arial", Helvetica, sans-serif;}
.form-fields input, input.txt {width: 98%; height: 18px}
.form-fields textarea {width: 98%;}
input.radio {margin: 5px 5px 0 0; display:inline; }
input.btn {margin: 5px 0 0; border: 1px solid #CDCDCD; padding: 3px 6px; background: #F7F6F6;}
.ruler { background:url(../images/ruler.gif) 0 bottom repeat-x; clear:both; margin:0 0 10pt; padding:0; width:100%; height:9px;}
.dotted-ruler {border-bottom:2px dotted #999; clear:both; margin:0 0 10pt; padding:0; width:100%; height:9px;}
.list, .comment_list {clear:both; margin:0; padding:5px; width:100%; line-height:20px;overflow: hidden}
.success {clear: both; height: 18px; margin: -10px 0 5px; padding: 5px; color: #fff; background: #21c0c2; font-weight: bold;}
.warning{background-color:#ea2415;color:#fff;font-size:.9em;margin:3px 0;padding:3px}
.success a,.warning a{color:#fff;text-decoration:underline}
.more{clear:both;padding:3px}
span.subtext,span.subtext a,span.subtext a:link,span.subtext a:visited{color:#666;font-size: 0.9em;}
h1 span.subtext{color:#aaa;font-size: 0.9em}
/*---------------------------
8.	Footer
-----------------------------*/
.footer {clear:both; padding:10pt 0; background:#d9dcde;}
.footer p {}
.footer .nav a{font-size: 0.8em}

/*---------------------------
9.	Comments
-----------------------------*/
.comment_list .comment{margin: 5px 0; padding: 5px;}
.comment_list span a{color: #C36E01;}
.comment_list .even{background: #eee;}
.comment_list span.likes, .comment_list span.tag{color: #666;}

/*---------------------------
10.	Article
-----------------------------*/
form.content-form {
	margin: .5em 0;
	padding: 5px;
}

form.content-form fieldset label{
	display: block;
}

form.content-form fieldset input{
	display: inline;
}

input[type="radio"] {
	margin: 3px 3px 0px 5px;
}

.article{
	clear: left;
	padding: 5px;
	margin-bottom: 3px;
	min-height: 72px;
}
.article h4 a{color: #C36E01;}
img.left{float: left;margin: 5px 5px 0 0;}
.img-article{clear:both;min-height:50px;padding:3px;}
.item-tools {font-size: small;color: #666;}
span.likes, span.comments, span.tag { background-color: #ddd; padding: 3px 5px 3px 7px; margin: 3px 3px 3px 0; display: inline-block; min-width: 24px }
span.comments {
	background: #DDD url(/ummeli-static/images/comments.png) 5px 4px no-repeat;
	padding-left: 22px;
}
span.likes {
	background: #DDD url(/ummeli-static/images/likes.png) 5px 4px no-repeat;
	padding-left: 22px;
}
.item-tools {font-size: small;color: #666;}
.item-tools a{color: #C36E01;}
span.likes, span.comments, span.tag{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
/*---------------------------
11.	Poll
-----------------------------*/
.poll .q {color: #C36E01;}


/*--------------------------
12. Pagination
---------------------------*/
#pagination {font-weight: bold; font-size: 0.9em; color: black;text-align: center;background: #D9DCDE;padding: 5px;}
	#pagination span {margin: 0;padding: 2px;}
		#pagination span a{color:#BC7E12}
