/*---------------------------    
	Site Title website sections: 

	0.	CSS Reset & Body
	1.	Wrapper 
	2.	Header
	3.	Navigation
	4.	Images
	5.	Icons & Copy  
	6.	Fonts 
	7.	Partners 
	8.	Footer

-----------------------------*/


/*---------------------------
0.	CSS Reset, Body & Wrapper
-----------------------------*/
* {margin:0; padding:0; border:0px none;}
ul, ol, li {list-style-type:none;}
a {text-decoration:none; color:#465b67; }
a:hover {text-decoration:underline;}
body {font:10pt "Arial", Helvetica, sans-serif; color:black; background:#eceff1 url(../images/bg.jpg) repeat; margin:0; padding:0; border:0px none;}
.wrapper {margin:0; padding:0 10px; border:0px none; max-width:500px; min-width:180px; margin:0 auto; text-align:left;}
*html .wrapper {width:400px;}
       

/*---------------------------
2.	Header
-----------------------------*/
.header {margin:0 0 8pt; padding:12pt 0 20pt; width:100%; text-align:center; background:url(../images/ruler.gif) 0 bottom repeat-x;}
      

/*---------------------------
3.	Navigation
-----------------------------*/
.nav, .paging{width:100%; margin:0 0 10pt; clear:both; text-align:center; color:#4c6c7e;}
	.nav a {margin:0 1pt; clear:both; text-align:center; color:#4c6c7e; font-size:115%; font-weight:bold;} 

.paging {color: #999 !important;} 
.paging .current{color: #4c6c7e}  
.paging a {margin:0 1pt; clear:both; text-align:center; color:#4c6c7e; font-weight:bold;} 

#menu div{border-bottom: 2px solid #f1f2f3;padding:5pt 0 5pt 10pt;background:url(../images/bullet.gif) 0 8pt no-repeat;}
#menu div:last-child{border-bottom:none}
/*---------------------------
4.	Images
-----------------------------*/
img.banner {width:100%; margin:0 0 10pt;} 


/*---------------------------
5.	Icons & Copy
-----------------------------*/
.icon-container {float:left; width:100%; padding:10pt 0 6pt; border-top:2px dotted #999;}
	.news {padding:2pt 0 10pt; border:0;}
	.icon-container .icon {float:left; width:75px; text-align:left; }
		.icon-container .icon img {margin:0 10pt 0 0;}
	.icon-container .copy {padding-left:75px;}
		.icon-container .copy .message {display:none; } 
		.icon-container .copy p {padding:2pt 0; margin:0;} 
		.icon-container .copy p.controls {font-weight:bold;}			
             

/*---------------------------
6.	Fonts
-----------------------------*/
h1 { font:bold 100%/125% "Arial", Helvetica, sans-serif; letter-spacing:-0.01em; margin:20px 0 5px 0; padding:5px; border-top:2px dotted #999; border-bottom:2px dotted #999;}
h2 { font:bold 100%/125% "Arial", Helvetica, sans-serif; letter-spacing:-0.01em; margin:0; padding:5px; background:#577384; color: #fff;}
h3 { font:bold 115%/130% "Arial", Helvetica, sans-serif; margin:0 0 10pt;}
h4 { font:bold 103%/130% "Arial", Helvetica, sans-serif; margin:0;}
	h4 em {display:block; color:#577384; font-style:italic;}
p {font-size:100%; line-height:135%; margin:0 0 10pt;}
	p a {color:#c36e01; font-weight:bold;}
em {font-style:normal;font-weight:bold;}
input, textarea, select {display: block; font:90% "Arial", Helvetica, sans-serif;}
.form-fields input, input.txt {width: 98%; height: 18px}
.form-fields textarea {width: 98%;}
input.radio {margin: 5px 5px 0 0; display:inline; }
input.btn {margin: 5px 0 0; border: 1px solid #CDCDCD; padding: 3px 6px; background: #F7F6F6;}
.ruler { background:url(../images/ruler.gif) 0 bottom repeat-x; clear:both; margin:0 0 10pt; padding:0; width:100%; height:9px;}
.dotted-ruler {border-bottom:2px dotted #999; clear:both; margin:0 0 10pt; padding:0; width:100%; height:9px;}
.bullet {padding:2pt 0 2pt 10pt; background:url(../images/bullet.gif) 0 5pt no-repeat;}
.list, .comment_list {clear:both; margin:0; padding-top:5px; width:100%; line-height:20px;overflow: hidden}
.success {clear: both; height: 18px; margin: -10px 0 5px; padding: 0; width: 100%; color: #fff; background: #393; font-weight: bold;}
.warning{background-color:#c00;color:#fff;font-size:.9em;margin:3px 0;padding:3px}
.success a,.warning a{color:#fff;text-decoration:underline}
.more{padding:3px}
/*---------------------------
8.	Footer
-----------------------------*/
.footer {clear:both; padding:10pt 0; background:#d9dcde;}
.footer p {}

/*---------------------------
9.	Comments
-----------------------------*/
.comment_list .t {clear:both; background:#d9dcde;}
.comment_list h4 a{color: #C36E01;}
.comment_list .b {clear:both; background:#eaedef;}
.comment_list .r {float: right;}
.comment_list .b a {color: #20bcbe;}

/*---------------------------
10.	Article
-----------------------------*/
.article h4 a{color: #C36E01;}

/*---------------------------
11.	Poll
-----------------------------*/
.poll .q {color: #C36E01;}



