{% extends "base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo;<a href="{% url opportunities %}">Opportunities</a> &raquo; Province</div>
    <div class="intro">
    <p>
        {% if request.session.override_location %}
        You are in: <strong>{{province}}</strong>
        {% else %}
        You are near: <strong>{{request.session.location.city.name}}</strong><br/>
        {% endif %}
    </p>
    </div>
    <div class="wrap">
        <p><a href="{% url select-location %}?next={{next}}">Near me..</a></p>
        <p><strong>OR</strong></p>
        {% for id, province in provinces %}
        <div class="bullet">
            <a href="{% url microtask_change_province id %}?next={{next}}">{{province}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="more"><a href="{% url index %}">&larr; Back</a></div>
{% endblock %}
