{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a> &raquo;
    {{object.title}}
</h2>
<div class="wrap">
    <div>{{object.title}}</div>
    <div>{{object.description}}</div>
    <div>{{object.tomtommicrotask.location.city}}</div>

    <h2>Map</h2>
    <div>
        {% with x=object.location.coordinates.0 y=object.location.coordinates.1%}
        <p>
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{y}},{{x}}&amp;markers=color:blue|label:S|{{y}},{{x}}&amp;zoom=12&amp;size=240x320&amp;sensor=false&amp;"/>
        </p>
        {% endwith %}
    </div>

    <h2>Information</h2>
    <div>
        <ul>
            <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
            <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
            <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
            <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
            <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
            <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
        </ul>
    </div>
    <h2>Upload</h2>
    <p>## Task instructions go -- HERE --</p>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
        <div class="form-fields">
            <label>Picture:*</label>
            <input type="file" name="file"/>
            <label>Tel 1:*</label>
            {% include "form_field_errors_snippet.html" with form_field=form.tel1 %}
            <input type="text" name="tel1" value="{% if form.tel1.value %}{{form.tel1.value}}{% endif %}">
            <label>Tel 2:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.tel2 %}
            <input type="text" name="tel2" value="{% if form.tel2.value %}{{form.tel2.value}}{% endif %}">
            <label>Address:*</label>
            {% include "form_field_errors_snippet.html" with form_field=form.address %}
            <input type="text" name="address" value="{% if form.address.value %}{{form.address.value}}{% endif %}">
            <label>Website:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.website %}
            <input type="text" name="website" value="{% if form.website.value %}{{form.website.value}}{% endif %}">
        </div>
        <input type="submit" value="Send" class="btn"/>
        {% csrf_token %}
        </fieldset>
    </form>
</div>

{% endblock %}
