{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a> &raquo;
    {{object.title}}
</h2>
<div class="wrap">
    <div>{{object.title}}</div>
    <div>{{object.description}}</div>
    <div>{{object.tomtommicrotask.location.city}}</div>
    <h2>Guidelines</h2>
    Once you have enable GPS tagging on your phone, please remember the following guidelines:
    <ul>
        <li class="bullet">For GPS to work properly, <strong>you need to be outside</strong></li>
        <li class="bullet">Your phone will likely have <strong>an indicator or icon</strong> showing you when your <strong>GPS is active</strong>. (consult your phone manual for details)</li>
        <li class="bullet">Only when this indication is active will your image be tagged.</li>
    </ul>

    <h2>Information</h2>
    <div>
        <ul>
            <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
            <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
            <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
            <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
            <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
            <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
        </ul>
    </div>
    <h2>Upload</h2>
    <p>## Task instructions go -- HERE --</p>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
        <div class="form-fields">
            <label>Tel 1:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.tel_1 %}
            {{form.tel_1}}

            <label>Tel 2:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.tel_2 %}
            {{form.tel_2}}

            <label>Fax:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.fax %}
            {{form.fax}}

            <label>Website:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.website %}
            {{form.website}}

            <label>Email:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.email %}
            {{form.email}}

            <label>Address:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.address %}
            {{form.address}}

            <label>Comment:</label>
            {% include "form_field_errors_snippet.html" with form_field=form.comment %}
            {{form.comment}}

            <label>Picture:*</label>
            {% include "form_field_errors_snippet.html" with form_field=form.file %}
            {{form.file}}
        </div>
        <br/>
        <input type="submit" value="Send" class="btn"/>
        {% csrf_token %}
        </fieldset>
    </form>
    <br/>
    <div class="more"><a href="{% url micro_task_conditions object.slug %}">&larr; Back</a></div>
</div>

{% endblock %}
