{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url opportunities %}">Opportunities</a> &raquo;
    <a href="{% url campaigns %}">Campaigns</a> &raquo;
    {{object.title}}
</h2>
<div class="wrap">
    <div>{{object.title}}</div>
    <div>{{object.description}}</div>
    <div>{{object.tomtommicrotask.location.city}}</div>

    <h2>Map</h2>
    <div>
        {% with x=object.location.coordinates.0 y=object.location.coordinates.1%}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/map.css" />
        <script type="text/javascript" src="{{STATIC_URL}}js/ready.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/tomtom/OpenLayers-2.12.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/tomtom/tomtom.map.js"></script>
        <script type="text/javascript">
        domready(function(){
            tomtom.setImagePath("{{STATIC_URL}}images/tomtom/");
            map = new tomtom.Map({
                domNode: "map",
                displayTraffic: false,
                panZoomBar: true,
                controls: [],
                center: new OpenLayers.LonLat({{city.coordinates.0}},{{city.coordinates.1}}),
                apiKey: "9vmtv8wkch2734ak96uxz67b",
            });

            route_points = [{
                    lon: {{city.coordinates.0}},
                    lat: {{city.coordinates.1}}
                },{
                    lon: {{x}},
                    lat: {{y}}
                }];

            map.displayRoute(route_points, function(){
                map.panToTransform({{x}},{{y}});
            });
        });
        </script>
        <div id="map"></div>
        {% endwith %}
    </div>

    <h2>Information</h2>
    <div>
        <ul>
            <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
            <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
            <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
            <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
            <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
            <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
        </ul>
    </div>
    {% if object.available %}
    <h2>Want to do it?</h2>
    <ul>
        <li class="bullet">You have {{object.hours_per_task}}hrs and the task will expire</li>
        <li class="bullet">You have to physically go to the location</li>
        <li class="bullet">Make sure your GPS is enabled when taking the picture</li>
        <li class="bullet">You will only receive your airtime when we have checked that the data you submitted is correct.</li>
    </ul>
    <div><span class="likes"><a href="{% url micro_task_checkout object.slug %}">Yes, I'll do it!</a></span></div>
    {% endif %}
</div>

{% endblock %}
