{% extends "base.xml" %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<MODULE backgroundColor="false" palette="MiMarine">
    <HEADER><LABEL>Welcome to Ummeli!</LABEL></HEADER>
    <CONTAINER  type="data">
        <TITLE>Your pocket CV</TITLE>
        <TEXT>
            Ummeli is a jobseeker network on your phone that connects you and your 
            friends to jobs in your community. No more waiting around. With a mobile 
            CV in your back pocket, you’re ready to apply for a job you spot on Ummeli 
            at any time. You can also post jobs or bursary info you want your friends to 
            know about. Get started!
            <br/><br/>
            {% if request.user.password %}
                <LINK href="{% url edit %}?{{uuid}}">
                    <TEXT>Change your CV</TEXT>
                </LINK><br/>
                Need to add new info to your CV? Do it here.
            {% else %}
                <LINK href="{% url register %}?{{uuid}}">
                    <TEXT>Build your CV</TEXT>
                </LINK><br/>
                Set up your work profile - build a professional CV without a computer.
            {% endif %}
                <br/><br/>
                <LINK href="{% url send %}?{{uuid}}">
                    <TEXT>Send your CV</TEXT>
                </LINK><br/>
                Sending your CV by email is always free on Ummeli.
                <br/><br/>
                <LINK href="{% url jobs_province %}">
                    <TEXT>Find jobs</TEXT>
                </LINK><br/>
                    Start your job search right here. Find work in your area.
                <br/><br/>
                <LINK href="{% url jobs_create %}?{{uuid}}">
                    <TEXT>Share jobs</TEXT>
                </LINK><br/>
                Help others by adding jobs you’ve seen advertised in your community.
        </TEXT>
    </CONTAINER>
</MODULE>
{% if request.is_authorized %}
<MODULE backgroundColor="false" palette="MiMarine">
    <HEADER><LABEL>Mange Profile</LABEL></HEADER>
    <CONTAINER  type="list">
        <LINK href="{% url password_change %}?{{uuid}}">
            <TEXT>Change pin</TEXT>
        </LINK>
    </CONTAINER>
</MODULE>
{% endif %}
{% endblock %}
