{% extends "base.xml" %}

{% load article_tags %}
{% load poll_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<HEADER><LABEL>Welcome to Ummeli!</LABEL></HEADER>
<CONTAINER type="data">        
    <TEXT>
        Ummeli lets you <LINK href="{% url jobs_province %}?{{uuid}}"><TEXT>find jobs</TEXT></LINK>, 
            <LINK href="{% url edit %}?{{uuid}}"><TEXT>build your CV</TEXT></LINK> &amp; 
        create your own employment opportunities. <LINK href="{% url about %}"><TEXT>Learn more...</TEXT></LINK>
    </TEXT>
</CONTAINER>
</MODULE>
{% get_articles 4 "article_list" %}
{% if article_list %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Featured</LABEL></HEADER>
</MODULE>
{% for article in article_list %}
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
    <CONTAINER type="image">
    <IMAGE href="{% if article.image %}{{MEDIA_URL}}{{ article.image }}{% else %}/ummeli-static/media/write.jpg{% endif %}" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>
        <LINK href="{% url article_detail article.pk %}?{{uuid}}">
            {{ article.title }}
        </LINK>
    </TITLE>
    <TEXT>{{ article.description }}</TEXT>
    </CONTAINER>
</MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
<CONTAINER type="data">
<TEXT>
<LINK href="{% url article_list %}?{{uuid}}">
    <TEXT>more...</TEXT>
</LINK>
</TEXT>
</CONTAINER>
</MODULE>
{% endif %}
    
{% get_featured_poll "featured_poll" %}
{% if featured_poll %}
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
    <HEADER><LABEL>Poll</LABEL></HEADER>
    {% show_poll featured_poll %}
</MODULE>
{% endif %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER>
        <LABEL>
        {% if request.is_authorized %}
            <TITLE>Quick links</TITLE>
        {% else %}
            <TITLE>Browse jobs</TITLE>
        {% endif %}
        </LABEL>
    </HEADER>
    <CONTAINER type="list">
{% if request.is_authorized %}
    <LINK href="{% url jobs_province %}?{{uuid}}">
        <TEXT>Browse jobs</TEXT>
    </LINK>
    <LINK href="{% url send %}?{{uuid}}">
        <TEXT>Send my CV</TEXT>
    </LINK>
    <LINK href="{% url edit %}?{{uuid}}">
        <TEXT>Update my CV ({{user_profile.fields_complete|floatformat:0}}% Complete)</TEXT>
    </LINK>
{% else %} 
    {% for province in provinces %}
        <LINK href="{% url jobs_list province.search_id %}?{{uuid}}">
            <TEXT>{{province.name}} ({{province.articles_count|add:province.userarticles_count}})</TEXT>
        </LINK><br/>
    {% endfor %}
{% endif %}
</CONTAINER>
{% if not request.is_authorized %}
<CONTAINER type="data">        
    <TEXT>
        <LINK href="{% url jobs_province %}?{{uuid}}">
            <TEXT>more...</TEXT>
        </LINK>
    </TEXT>
</CONTAINER>
{% endif %}
{% endblock %}
