{% extends "base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<MODULE backgroundColor="false">
    <HEADER><LABEL>View jobs</LABEL></HEADER>
    <CONTAINER  type="list">
        {% for category in categories %}
            <LINK href="{% url jobs search_id category.pk %}">
                <TEXT>{{category.title}} ({{category.articles.count}})</TEXT>
            </LINK>
        {% endfor %}
    </CONTAINER>
    <br/>
    <CONTAINER  type="list">
        <LINK href="{% url jobs_province %}">
            <TEXT>&lt;&lt; Back</TEXT>
        </LINK>
    </CONTAINER>
</MODULE>
{% endblock %}
