{% extends "base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<HEADER><LABEL>{{title}}</LABEL></HEADER>
<CONTAINER  type="list">
    {% for article in articles %}
        <LINK href="{% url job search_id cat_id article.pk%}?user_submitted={{article.user_submitted}}">
            <TEXT>
            {% if article.user_submitted %}
            <color value="blue">***</color>
            {% endif %}
            {{article.date|date:'d M y'}} ::  {{article.source}} :: {{ article.text|truncatewords:10 }}
            </TEXT>
        </LINK>
    {% endfor %}
</CONTAINER>
<br/>
<CONTAINER  type="list">
    <LINK href="{% url jobs_list search_id %}">
        <TEXT>&lt;&lt; Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
