{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<HEADER><LABEL>Comment Settings</LABEL></HEADER>
<CONTAINER type="data">
{{ form.errors_as_pml }}
</CONTAINER>
{% if object.fullname == ' ' %}
<CONTAINER type="data">
<TEXT>
Please update your <LINK href="{% url edit_personal %}?{{uuid}}"><TEXT>Personal Details</TEXT></LINK> first.
<br/>
Then change your comment settings here. [My Settings - Comment Settings]
</TEXT>
</CONTAINER>
<CONTAINER  type="list">
    <LINK href="{% url edit_personal %}?{{uuid}}">
        <TEXT>Change Personal Details</TEXT>
    </LINK>
</CONTAINER>
{% else %}
<CONTAINER  type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Save">
        <CHOICE-GROUP type="radio" name="comment_as_anon">
            <TEXT>What name do you want shown on your comments?</TEXT>
            {% if form.comment_as_anon.value %}
            <CHOICE value="True" checked="true">Anon.</CHOICE>
            <CHOICE value="False" >{{object.fullname}}</CHOICE>
            {% else %}
            <CHOICE value="True">Anon.</CHOICE>
            <CHOICE value="False" checked="true">{{object.fullname}}</CHOICE>
            {% endif %}
        </CHOICE-GROUP>
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
{% endif %}
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER  type="list">
    <LINK href="{% url my_settings %}?{{uuid}}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
