{% extends "my_ummeli_base.xml" %}


{% block content %}
    <HEADER><LABEL>My Jobs</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Jobs Posted</LABEL></HEADER>
</MODULE>
{% for item in object_list %}
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
    <CONTAINER type="image">
    <IMAGE href="/ummeli-static/media/write.jpg" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>
        <LINK href="{% url my_jobs item.slug %}?{{uuid}}">
            {{ item.title|truncatewords:10 }} {% if item.province %}({{item.province}}){%endif%}
        </LINK>
    </TITLE>
    <TEXT>
        {{item.descrition|truncatewords:10}}<br/>
        {{ item.created|timesince }} ago
    </TEXT>
    </CONTAINER>
    <CONTAINER type="list">
        <LINK href="{% url my_jobs_delete item.slug %}?{{uuid}}">
            <TEXT>Delete</TEXT>
        </LINK>
    </CONTAINER>
</MODULE>
{% endfor %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if page_obj.has_previous %}
    <LINK href="?page={{ page_obj.previous_page_number }}?{{uuid}}">
        <TEXT>Previous</TEXT>
    </LINK>
    {% endif %}
    {% if page_obj.has_next %}
    <LINK href="?page={{ page_obj.next_page_number }}?{{uuid}}">
        <TEXT>Next</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
</MODULE>

<MODULE backgroundColor="false" palette="MiDove">
<CONTAINER type="list">
    <LINK href="{% url jobs_create %}?{{uuid}}">
        <TEXT>+ Add another</TEXT>
    </LINK>
    <LINK href="{% url my_ummeli %}?{{uuid}}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
