{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<HEADER><LABEL>Confirm delete</LABEL></HEADER>
<CONTAINER  type="data">
    <TEXT>Are you sure you want to delete {{object.title}}?</TEXT>
</CONTAINER>
<CONTAINER  type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Delete">
        <FIELD type='hidden' name='submit' value='Delete' />
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
<CONTAINER  type="list">
    <LINK href="{{cancel_url}}?{{uuid}}">
        <TEXT>Cancel</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
