{% extends "my_ummeli_base.xml" %}

{% block title %}
    Ummeli
{% endblock %}

{% block content %}
<HEADER><LABEL>Edit Job</LABEL></HEADER>
<CONTAINER type="data">
{{ form.errors_as_pml }}
</CONTAINER>
<CONTAINER type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Save">
        {{ form.as_pml }}
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER  type="list">
    <LINK href="{% url my_jobs %}?{{uuid}}">
        <TEXT>Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
