{% extends "base.xml" %}

{% block content %}
    <HEADER><LABEL>Welcome {{user_profile.first_name}}!</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>My Ummeli</LABEL></HEADER>
    <CONTAINER  type="list">
    <LINK href="{% url profile %}?{{uuid}}">
        <TEXT>Work Profile</TEXT>
    </LINK>
    <LINK href="{% url my_connections %}?{{uuid}}">
        <TEXT>
        My Connections
        {% if user_profile.connection_requests.exists %}
        ({{user_profile.connection_requests.count}} requests)
        {% else %}
        ({{user_profile.get_connnections_count}})
        {% endif %}
        </TEXT>
    </LINK>
    <LINK href="{% url my_community %}?{{uuid}}">
        <TEXT>My Community Board</TEXT>
    </LINK>
    <LINK href="{% url my_settings %}?{{uuid}}">
        <TEXT>My Settings</TEXT>
    </LINK>
    <LINK href="{% url send %}?{{uuid}}">
        <TEXT>Send as CV</TEXT>
    </LINK>
    </CONTAINER>
{% endblock %}
