{% extends "my_ummeli_base.xml" %}

{% block title %}
    Change PIN for {{request.vlive.msisdn}}
{% endblock %}

{% block content %}
<HEADER><LABEL>Change PIN for {{request.vlive.msisdn}}</LABEL></HEADER>
{% if form.errors %}
    <CONTAINER type="form">
        <TEXT class="error">PIN codes don&apos;t match.<br />
        Please try again.</TEXT>
    </CONTAINER>
{% endif %}
    
<CONTAINER type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Change PIN">
    <TEXT position="ABOVE">Old PIN</TEXT>
    <FIELD name="old_password" type="password"/>
    <TEXT position="ABOVE">New PIN</TEXT>
    <FIELD name="new_password1" type="password"/>
    <TEXT position="ABOVE">Confirm New PIN</TEXT>
    <FIELD name="new_password2" type="password"/>
    
    <FIELD name="next" type="hidden" value="{{next}}"/>
    <FIELD type='hidden' name='_action' value='POST' />
    <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
{% endblock %}
