{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Your Words</LABEL></HEADER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
<CONTAINER type="image">
    <IMAGE href="{% if competition.image %}{{ competition.image.url }}{% else %}/ummeli-static/media/write.jpg{% endif %}" float="true" align="left" mime-type="image/jpeg"/>
    <TITLE>{{ competition.title }}</TITLE>
    <TEXT>{{ competition.description }}</TEXT>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<CONTAINER type="data">
    <TEXT>
        {{ competition.content|safe }}
    </TEXT>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
        {% if form.errors %}
            <TEXT color="red">Please correct the following errors: </TEXT><br/>
            {% for field in form %}
            {% for error in field.errors %}
                <TEXT color="red"> - {{field.label}}: {{error}}</TEXT><br/>
            {% endfor %}
            {% endfor %}
        {% endif %}
    </CONTAINER>
    <CONTAINER type="form">
    <FORM method="POST" href="{% url your_story competition.pk %}" submit_text="Submit">
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
        <FIELD type="hidden" name="next" value="{% url index %}#comment_list" />
        <TEXT position="ABOVE">Name (required):</TEXT>
        <FIELD name="name" type="text" {% if form.name.value %}default="{{form.name.value}}"{%endif%}/><br/>
        <TEXT position="ABOVE">Email:</TEXT>
        <FIELD name="email" type="text" {% if form.email.value %}default="{{form.email.value}}"{%endif%}/><br/>
        <TEXT position="ABOVE">Your story (required):</TEXT>
        <FIELD name="text" type="text" {% if form.text.value %}default="{{form.text.value}}"{%endif%}/><br/>
        <CHOICE-GROUP type="radio" name="terms">
            <TEXT>I agree to the 
                <LINK href="/vlive/pages/your-words-competition-terms/">Your Words Competition Terms &amp; Conditions.</LINK>
            </TEXT>
            <CHOICE value="True">Yes</CHOICE>
            <CHOICE value="False" checked="true">No</CHOICE>
        </CHOICE-GROUP>
    </FORM>
    </CONTAINER>
{% endblock %}