<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>{{title|default:"Ummeli"}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
<body>
    <div class="header">
        <a href="{% url vlive:index %}"><img src="/static/images/logo.gif" alt="Ummeli" width="120" height="47" /></a>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">&copy; {% now "Y" %} {{title|default:"Ummeli"}} <a href="{% url vlive:index %}terms/">Terms</a> | <a href="{% url vlive:index %}privacy/">Privacy</a> | <a href="{% url vlive:logout %}">Logout</a></div>
</body>
</html>
