{% extends "base.html" %}

{% block banner %}
<div class="wrapper" style="padding: 50px 0">
    <h2>Login</h2>
    <form class="content-form" method="post">        
    <fieldset> 
        <div class="form-row">
        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
        <input id="id_username" type="text" name="username" maxlength="30" placeholder="username">
      </div>
      <div class="form-row">
        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
        <span class="password"></span>
        <input type="password" name="password" id="id_password" placeholder="password">
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>

        <input type="submit" class="btn" value="Login" name="submit" />
        <input type="hidden" name="next" value="{{next}}" />
        {% csrf_token %}
    </fieldset> 
    </form>
</div>
{% endblock %}
