<div class="img-article list">
{% if object.statusupdate %}
    <img src="{{STATIC_URL}}media/avatar_{{object.owner.get_profile.primary_skill.level}}.jpg" width="56" height="56" alt="Title Here" class="left"/>
    {{ object.title }}
{% else %}{% if object.skillsupdate %}
    {% with user_profile=object.owner.get_profile %}
        <a href="{% url profile_view object.owner.pk %}">
            <img src="{{STATIC_URL}}media/avatar_{{user_profile.primary_skill.level}}.jpg" width="56" height="56" alt="Title Here" class="left"/>
        </a>
        <a href="{% url profile_view object.owner.pk %}">{{ user_profile.primary_skill }}</a>
        {% if user_profile.about_me %}{{user_profile.about_me}}{% endif %}
        {% if user_profile.city %}<br/>{{user_profile.city}}{% endif %}
    {% endwith %}
{% else %}
    <a href="{% url community_jobs object.slug %}">
        <img src="{{STATIC_URL}}media/avatar_{{object.owner.get_profile.primary_skill.level}}.jpg" width="56" height="56" alt="Title Here" class="left"/>
    </a>
    <a href="{% url community_jobs object.slug %}">{{ object.title|truncatechars:30 }}</a> {{ object.description|truncatechars:50 }}
    <br/>
    {{object.get_provinces}}
{% endif %}{% endif %}
    <br/>
    <small>
        {{ object.created|timesince }} ago&nbsp;|&nbsp;
        <a href="{% url profile_view object.owner.pk %}">
        {% if object.owner.get_profile.fullname %}
            {{ object.owner.get_profile.fullname }}
        {% else %}
            Anon.
        {% endif %}
        </a>
    </small>
</div>
