{% extends "base.html" %}

{% block content %}
    <div class="h2">
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url competitions %}">Competitions</a> &raquo;
        {{object.title}}
    </div>
    <div class="wrap">
        <strong>{{object.title}}</strong>
        {% if object.retract_on %}<br/><small>Deadline: <strong>{{ object.retract_on|date:"D, j M Y" }}</strong></small>{% endif %}
        <br/><small>Province: {{ object.get_provinces }}</small>
        {% if object.cost %}<br/><small>Cost: R {{ object.cost }}</small>{% endif %}
        <br/>
        <br/>
        {{ object.description|safe }}
        {% if object.is_community %}
        <p>submitted by
            <a href="{% url profile_view object.owner.pk %}">
                {% if object.owner.get_profile.fullname %}
                    {{object.owner.get_profile.fullname}}
                {% else %}
                    Anon.
                {% endif %}
            </a>
        </p>
        {% endif %}
    </div>
    <div class="more"><a href="{% url competitions %}">&larr; Back</a></div>
{% endblock %}
