{% extends "base.html" %}

{% block content %}
    <div class="h2">
        <a href="{% url opportunities %}">Opportunities</a> &raquo;
        <a href="{% url events %}">Events</a> &raquo;
        {{object.title}}
    </div>
    <div class="wrap">
        <strong>{{object.title}}</strong>
        <br/><small>Province: {{ object.get_provinces }}</small>
        <br/><small>Location: {{ object.location }}</small>
        <br/><small>When: {{ object.retract_on|date:"D, j M Y"  }}</small>
        <br/>
        <br/>
        {{ object.description|safe }}
    </div>
    <div class="more"><a href="{% url events %}">&larr; Back</a></div>
{% endblock %}
