global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    stats socket ./tmp/haproxy.sock user haproxy group haproxy
    user ubuntu
    group ubuntu

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Ummeli\ Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend production-http-in
    bind *:8010
    default_backend production

backend production
    server production_backend1 127.0.0.1:8011 weight 1 check maxconn 500
    server production_backend2 127.0.0.1:8012 weight 1 check maxconn 500
    server production_backend3 127.0.0.1:8013 weight 1 check maxconn 500
    server production_backend4 127.0.0.1:8014 weight 1 check maxconn 500

frontend qa-http-in
    bind *:8020
    default_backend qa

backend qa
    server qa_backend1 127.0.0.1:8021 weight 1 check maxconn 500
    server qa_backend2 127.0.0.1:8022 weight 1 check maxconn 500
    server qa_backend3 127.0.0.1:8023 weight 1 check maxconn 500
    server qa_backend4 127.0.0.1:8024 weight 1 check maxconn 500

