global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    stats socket ./tmp/haproxy.sock
    #debug

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Ummeli\ Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend vlive-http-in
    bind *:8010
    default_backend vlive-backend

backend vlive-backend
    server vlive_backend1 127.0.0.1:8011 weight 1 check maxconn 500

frontend devproxy
    bind *:8020
    mode http
    default_backend devproxy-switcher

backend devproxy-switcher
    server devproxy-1 127.0.0.1:8021 weight 1 check maxconn 500
    server devproxy-2 127.0.0.1:8022 weight 1 check maxconn 500
    server devproxy-3 127.0.0.1:8023 weight 1 check maxconn 500
    server devproxy-4 127.0.0.1:8024 weight 1 check maxconn 500
    server devproxy-5 127.0.0.1:8025 weight 1 check maxconn 500

frontend devproxy-upstream
    bind *:8026
    mode http

    acl is_high hdr_sub(X-UA-map) high
    acl is_medium hdr_sub(X-UA-map) medium

    use_backend mobi-backend if is_high
    use_backend zero-backend if is_medium

    default_backend zero-backend

backend mobi-backend
    server mobi_backend1 127.0.0.1:8021 weight 1 check maxconn 500

backend zero-backend
    server zero_backend1 127.0.0.1:9011 weight 1 check maxconn 500

backend switch-backend
    server switch_backend1 127.0.0.1:8026

frontend providers-http-in
    bind *:8310
    default_backend providers-backend

backend providers-backend
    server providers_backend1 127.0.0.1:8311 weight 1 check maxconn 500
