{% load poll_tags %}

<CONTAINER type="image">
    <IMAGE href="/ummeli-static/media/poll.jpg" mime-type="image/jpeg" align="left"/>
    <TITLE>{{ poll.question }}</TITLE>
</CONTAINER>
{% if poll|has_user_voted:user or show_results %}
<CONTAINER type="data">
        {% get_poll_results poll %}
        {% for c in poll_result_list %}
            <TEXT>{{ c.choice }}<br/>
                <b>{{ c.percentage }}%</b>
                <br/>
            </TEXT>
        {% endfor %}
</CONTAINER>
{% else %}
    {% if user.is_authenticated %}
    <CONTAINER type="form">
        <FORM method="post" href="{% url poll_vote poll.pk %}??{{uuid}}" submit_text="Vote">
            <FIELD type='hidden' name='_action' value='POST' />
            <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
            
            <CHOICE-GROUP name="choice_pk" type="radio">
            {% for c in poll.choice_set.all %}
                <CHOICE value="{{ c.pk }}">{{ c.choice }}</CHOICE>
            {% endfor %}
            </CHOICE-GROUP>            
        </FORM>
    </CONTAINER>
    {% else %}
    <CONTAINER type="data">
        {% for c in poll.choice_set.all %}
            <TEXT><b>{{ c.choice }}</b></TEXT><br/>
        {% endfor %}
        <TEXT><LINK href="{% url login %}">Sign in</LINK> or <LINK href="{% url register %}">register</LINK> to vote.</TEXT>
    </CONTAINER>    
    {% endif %}
{% endif %}