{% extends "base.html" %}

{% block content %}
    <div class="h2">Edit profile</div>
    <form class='standard'>
    <div>
        <ul>
            <li><a href="{% url vlive:edit %}/personal">Personal details</a></li>
            <li><a href="{% url vlive:edit %}/contact">Contact details</a></li>
            <li><a href="{% url vlive:edit %}/education">Education details</a></li>
            <li><a href="{% url vlive:edit %}/certificates">Certificates details</a></li>
            <li><a href="{% url vlive:edit %}/workExperiences">Work experience details</a></li>
        </ul>
        <br/>
        <p><a href="{% url vlive:index %}">&lt;&lt; Back</a></p>
    </div>
    </form>
{% endblock %}
