{% extends "base.html" %}

{% block content %}
    <div class="h2">Edit profile</div>
    <form class='standard'>
    <div>
        <ol>
            <li><a href="{% url edit_personal %}">Personal details</a></li>
            <li><a href="{% url edit_contact %}">Contact details</a></li>
            <li><a href="{% url edit_education %}">Education details</a></li>
            <li><a href="{% url certificate_list %}">Certificates details</a></li>
            <li><a href="{% url work_experience_list %}">Work experience details</a></li>
            <li><a href="{% url language_list %}">Language details</a></li>
            <li><a href="{% url reference_list %}">References details</a></li>
        </ol>
        <br/>
        <p><a href="{% url index %}">&lt;&lt; Back</a></p>
    </div>
    </form>
{% endblock %}
