{% extends "base.html" %}

{% block content %}
    <div class="h2">Edit profile</div>
    <form class='standard'>
    <div>
        <ol>
            <li><a href="{% url edit %}/personal">Personal details</a></li>
            <li><a href="{% url edit %}/contact">Contact details</a></li>
            <li><a href="{% url edit %}/education">Education details</a></li>
            <li><a href="{% url edit %}/certificates">Certificates details</a></li>
            <li><a href="{% url edit %}/workExperiences">Work experience details</a></li>
            <li><a href="{% url edit %}/languages">Language details</a></li>
            <li><a href="{% url edit %}/references">References details</a></li>
        </ol>
        <br/>
        <p><a href="{% url index %}">&lt;&lt; Back</a></p>
    </div>
    </form>
{% endblock %}
