{% extends "base.html" %}

{% block content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            {{object.title}}
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="box span10">
        <div class="box-content">
            <ul class="dashboard-list">
                <li>
                        {% if object.tomtommicrotask %}
                        <i class="icon-map-marker"></i>
                        {% else %}
                        <i class="icon-edit"></i>
                        {% endif %}
                        &nbsp;
                        {% if object.title %}{{object.title}}
                        {% else%}{{object.location.city.name}}{% endif %}
                    <div class="muted" style="margin-left: 26px;">{{object.location.city}}</div>
                    {% for r in object.microtaskresponse_set.all %}
                        <i class="icon-edit"></i>
                        <span style="margin-left: 8px;">
                        {{r.user.get_profile.fullname}}
                        <div class="pull-right">{{r.date|timesince}}</div>
                        </span>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% for response in object.microtaskresponse_set.all %}
<div class="row-fluid">
    <div class="box span5 muted">
        <div class="box-header well" data-original-title="">
            <h2><i class="icon-list-alt"></i> Original Data</h2>
        </div>
        <div class="box-content">
            <ul class="dashboard-list">
                <li>
                    {% with x=object.location.coordinates.0 y=object.location.coordinates.1%}
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{y}},{{x}}&amp;markers=color:blue|label:S|{{y}},{{x}}&amp;zoom=12&amp;size=320x180&amp;sensor=false&amp;"/>
                    {% endwith %}
                </li>
                <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
                <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
                <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
                <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
                <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
                <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
            </ul>
        </div>
    </div>
    <div class="box span5">
        <div class="box-header well" data-original-title="">
            <h2><i class="icon-list-alt"></i> New Submission</h2>
        </div>
        <div class="box-content">
            <ul class="dashboard-list">
                <li><img src="{{response.tomtommicrotaskresponse.file.url}}"/></li>
                <li><strong>Tagged:</strong> N/A</li>
                <li><strong>Tel 1:</strong> {{response.tomtommicrotaskresponse.tel_1}}</li>
                <li><strong>Tel 2:</strong> {{response.tomtommicrotaskresponse.tel_2}}</li>
                <li><strong>Fax:</strong> {{response.tomtommicrotaskresponse.fax}}</li>
                <li><strong>Email:</strong> {{response.tomtommicrotaskresponse.email}}</li>
                <li><strong>www:</strong> {{response.tomtommicrotaskresponse.website}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row-fluid span10">
    <div class="pull-right" style="margin-right:35px;">
        <button class="btn btn-small btn-danger btn-reject">Reject</button>
        <button class="btn btn-large btn-success btn-accept">Accept</button>
    </div>
</div>
<div class="modal hide fade" id="confirm_accept">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>ARE YOU SURE?</h2>
    </div>
    <div class="modal-body">
        <p>By approving this submission, you are confirming the automatic allocation of R10 airtime to {{response.user.get_profile.fullname}}.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-success">Accept</a>
    </div>
</div>
<div class="modal hide fade" id="confirm_reject">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>NOT GOOD ENOUGH?</h2>
    </div>
    <div class="modal-body">
        <p>
            Tell us why:
            <ul>
                <li>incorrect information</li>
                <li>Bad photograph</li>
                <li>invalid information</li>
                <li>reason:<br/>
                    <input type="text" class="input-xlarge"/>
                </li>
            </ul>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-danger">Reject</a>
    </div>
</div>
{% empty %}
<div class="row-fluid">
    <div class="box span5">
        <div class="box-header well" data-original-title="">
            <h2><i class="icon-list-alt"></i> Original Data</h2>
        </div>
        <div class="box-content">
            <ul class="dashboard-list">
                <li>
                    {% with x=object.location.coordinates.0 y=object.location.coordinates.1%}
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{y}},{{x}}&amp;markers=color:blue|label:S|{{y}},{{x}}&amp;zoom=12&amp;size=320x180&amp;sensor=false&amp;"/>
                    {% endwith %}
                </li>
                <li><strong>GPS:</strong> {{object.location.coordinates.0}}, {{object.location.coordinates.1}}</li>
                <li><strong>Tel 1:</strong> {{object.tomtommicrotask.tel_1}}</li>
                <li><strong>Tel 2:</strong> {{object.tomtommicrotask.tel_2}}</li>
                <li><strong>Fax:</strong> {{object.tomtommicrotask.fax}}</li>
                <li><strong>Email:</strong> {{object.tomtommicrotask.email}}</li>
                <li><strong>www:</strong> {{object.tomtommicrotask.website}}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
{% block script %}
<script type="text/javascript">
$(function(){
    $('.btn-accept').click(function(e){
        e.preventDefault();
        $('#confirm_accept').modal('show');
    });
    $('.btn-reject').click(function(e){
        e.preventDefault();
        $('#confirm_reject').modal('show');
    });
});
</script>
{% endblock %}
