{% extends "base.html" %}

{% block content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            Live
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-folder-open"></i> Live Tasks</h2>
        </div>
        <div class="box-content">
            <ul class="dashboard-list">
            {% for t in object_list %}
                <li>
                    <a href="{% url providers.micro_task_detail t.campaign.slug t.slug %}">
                        {% if t.tomtommicrotask %}
                        <i class="icon-map-marker"></i>
                        {% else %}
                        <i class="icon-edit"></i>
                        {% endif %}
                        &nbsp;
                        {% if t.title %}{{t.title}}
                        {% else%}{{t.location.city.name}}{% endif %}
                    </a>
                    <div class="muted" style="margin-left: 26px;">{{t.location.city}}</div>
                    {% for r in t.microtaskresponse_set.all %}
                        <i class="icon-edit"></i>
                        <span style="margin-left: 8px;">
                        {% if r.user.get_profile.fullname %}{{r.user.get_profile.fullname}}
                        {% else %}{{r.user.username}}{% endif %}
                        <div class="pull-right">{{r.date|timesince}}</div>
                        </span>
                    {% endfor %}
                </li>
            {% empty %}
            <li>No new submissions</li>
            {% endfor %}
            </ul>
            <div class="row-fluid">
                <div class="span12">
                    <br/>
                    <span class="clearfix">
                        Showing {{page_obj.start_index}} to {{page_obj.end_index}} of {{page_obj.paginator.count}} entries
                    </span>
                </div>
                <div class="span12 center">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <ul>
                            <li class="prev {% if not page_obj.has_previous %}disabled{% endif %}">
                                <a href="{{request.path}}?page={{page_obj.previous_page_number}}">← Previous</a>
                            </li>
                            {% for p in page_obj.paginator.page_range|slice:"5" %}
                            <li {% if p == page_obj.number %}class="active"{% endif %}>
                                <a href="{{request.path}}?page={{p}}">{{p}}</a>
                            </li>
                            {% endfor %}
                            <li><a>...</a></li>
                            <li class="next {% if not page_obj.has_next %}disabled{% endif %}">
                                <a href="{{request.path}}?page={{page_obj.next_page_number}}">Next → </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
