{% extends "my_ummeli_base.html" %}

{% block content %}
<div class="crumbs"><a href="{% url index %}">Home</a> &raquo; <a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; <a href="{% url my_connections %}">My Connections</a> &raquo; add</div>
<h2>Add by first name</h2>
    <form class='content-form' method="post">
    <fieldset>
        <label>Province:</label>
        {% include "form_field_errors_snippet.html" with form_field=form.province %}
        <select name="province">
            <option value="0">All</option>
            {% for key, value in provinces %}
                <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
        <label>Firstname:</label>
        {% include "form_field_errors_snippet.html" with form_field=form.name %}
        <input type="text" name="name" value="{% if form.name.value %}{{form.name.value}}{% endif %}"/>
        <br/>

        <input type="submit" class="btn" value="Search" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url my_connections %}">&larr; Back</a></div>
{% endblock %}
