{% extends "my_ummeli_base.html" %}

{% block content %}
    <h2><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; <a href="{{cancel_url}}">{{page_title}}</a> &raquo; edit</h2>
    <form class='content-form' method="post">
    <fieldset>
        <div class="form-fields">{{ form}}</div>
        <input type="submit" class="btn" value="Save" name="submit" />
        <br/>
        {% if object.id %}
        <div class="more">
            <a href="{% url profile %}{{list_name}}/delete/{{ object.id }}/">Delete</a>
        </div>
        {% endif %}
        <br/>
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{{cancel_url}}">&larr; Back</a></div>
{% endblock %}
