{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo; <a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a></div>
    <h2>My Work</h2>
        <div class="wrap">What is your field of work or interest?</div>
        {% for item in object_list %}
            <div class="bullet">
            {% if item.primary %}
            <strong>
            <a href='{% url skills item.pk %}'>{{ item.skill }}</a> <span class="subtext">({{ item.get_level }})</span>
            </strong>
            {% else %}
            <a href='{% url skills item.pk %}'>{{ item.skill }}</a> <span class="subtext">({{ item.get_level }})</span>
            <br/><a href='{% url skills_primary item.pk %}'>[Mark as Primary Role]</a>
            {% endif %}
            </div>
        {% endfor %}
        <br/>
        {% if object_list.count < 3 %}
        <div class="more"><a href="{% url skills_new %}">+ Add another</a></div>
        {% endif %}
        <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}
