{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="crumbs"><a href="{% url index %}">Home</a> &raquo; <a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; {{page_title}}</div>
        {% if object_list %}
        {% for item in object_list %}
            <div class="list-separated"><a href='{% url profile %}{{list_name}}/{{ item.pk }}'>&rarr; {{ item }}</a></div>
        {% endfor %}

        {% endif %}
        <div class="more"><a href="{% url profile %}{{list_name}}/new">+ Add another</a></div>
        <br/>
        <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
    </form>
{% endblock %}
