{% extends "base.html" %}

{% block content %}
    <h4><a href="{% url profile %}">Profile</a> &raquo; Job Roles</h4>
        {% for item in object_list %}
            {% if item.primary %}
            <strong>
            &rarr; <a href='{% url skills item.pk %}'>{{ item }}</a><br/>
            </strong>
            {% else %}
            &rarr; <a href='{% url skills item.pk %}'>{{ item }}</a> <a href='{% url skills_primary item.pk %}'>[Mark as Primary Role]</a><br/>
            {% endif %}
        {% endfor %}
        <br/>
        <div class="more"><a href="{% url skills_new %}">+ Add another</a></div>
        <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
    </form>
{% endblock %}
