{% extends "my_ummeli_base.html" %}

{% block content %}
    <h2><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; Personal Details</h2>
    <form class='content-form' method="post">
    <fieldset>
        <label for="form-first_name">First name: *</label>
        {% include "form_field_errors_snippet.html" with form_field=form.first_name %}
        <input name="first_name" type="text" class="txt" value="{{form.first_name.value}}"/>
        
        <label for="form-surname">Surname: </label>
        {% include "form_field_errors_snippet.html" with form_field=form.surname %}
        <input name="surname" type="text" class="txt" value="{{form.surname.value}}"/>
        
        <label for="form-date_of_birth">Date of birth: </label>
        {% include "form_field_errors_snippet.html" with form_field=form.date_of_birth %}
        <input name="date_of_birth" type="text" class="txt" value="{% if form.date_of_birth.value %}{{form.date_of_birth.value}}{% endif %}"/>
        
        <label for="form-gender">Gender: </label>
        {% include "form_field_errors_snippet.html" with form_field=form.gender %}
            
        {% if not form.gender.value or form.gender.value.lower == 'male' or form.gender.value.lower == 'm' %}
        <input type="radio" name="gender" value="Male" checked="checked"/> Male <br/>
        <input type="radio" name="gender" value="Female" /> Female <br/>
        {% else %}
        <input type="radio" name="gender" value="Male"/> Male <br/>
        <input type="radio" name="gender" value="Female" checked="checked"/> Female <br/>
        {% endif %}
        
        <input type="submit" class="btn" value="Save" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}
