{% extends "base.html" %}

{% block content %}
    {% if user.pk == other_user_pk %}
        <p><a href="{% url profile %}">[edit your profile]</a></p>
    {% endif %}
    <h4>
        <a href="{% url profile_view other_user_pk %}">{{other_user_profile.fullname}}</a>&nbsp;
        {% if not connected_to_user and not is_self %}
        <a href="{% url add_connection other_user_pk %}?next={{request.path}}">[+ connect]</a>
        {% endif %}
    </h4>
        
    <a href="{% url connections other_user_pk %}">Connections ({{num_connections}})</a></br/>
    <a href="#">People worked with (5)</a></br/>
    <br/>
    
    {% if connected_to_user or is_self %}
    <h4>Contact details</h4>
    <div class="list">
        {% if other_user_profile.house_number or other_user_profile.house_number or other_user_profile.house_number %}
        <label>
            {{other_user_profile.house_number}}, 
            {{other_user_profile.street_name}},
            {{other_user_profile.location}}
        </label><br/>
        {% endif %}
        {% if other_user_profile.telephone_number %}
        <label>[tel] </label>{{other_user_profile.telephone_number}}<br/>
        {% endif %}
        {% if other_user_profile.email %}
        <label>[email] </label>{{other_user_profile.email}}
        {% endif %}
    </div>
    <br/>
    {% endif %}
    
    <h4>Skills</h4>
    <div class="list">
        <div class="bullet">Skill 1</div>
        <div class="bullet">Skill 2</div>
        <div class="bullet">Skill 3</div>
    </div>
    <br/>

    {% if connected_to_user or is_self %}        
        {% if other_user_profile.work_experiences.all %}
        <h4>Work experience</h4>
        <div class="list">
            {% for exp in other_user_profile.work_experiences.all %}
            <div class="bullet">{{exp}}</div>
            {% endfor %}            
        </div>
        <br/>
        {% endif %}

        {% if other_user_profile.certificates.all %}
        <h4>Qualifications</h4>
        <div class="list">
            {% for c in other_user_profile.certificates.all %}
            <div class="bullet">{{c}}</div>
            {% endfor %}
        </div>
        <br/>
        {% endif %}
    {% endif %}
{% endblock %}
