{% extends "my_ummeli_base.html" %}

{% block content %}
<h2><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; <a href="{% url profile %}">My Work</a> &raquo; new</h2>
<p>
Select your field of work or interest.
</p>
{% for skill in skills %}
    <div class="bullet">
        <a href="{% url skills_new skill.pk %}">{{skill.word}}</a>
    </div>
{% endfor %}
<br/>
<div class="more"><a href="{% url skills %}">&larr; Back</a></div>
{% endblock %}