{% extends "base.xml" %}

{% block content %}
    <HEADER><LABEL>Community Board</LABEL></HEADER>
</MODULE>
{% for article in articles.object_list %}
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
    <CONTAINER type="image">
    <IMAGE href="{{STATIC_URL}}media/avatar_{{article.owner.get_profile.primary_skill.level}}.jpg" float="true" align="left" mime-type="image/jpeg"/>
    {% if article.statusupdate %}
    <TITLE>
        <LINK href="{% url profile_view article.owner.pk %}?{{uuid}}">
            <TEXT>
                {% if article.owner.get_profile.fullname %}
                    {{ article.owner.get_profile.fullname }}</a>
                {% else %}
                    Anon.
                {% endif %}
            </TEXT>
        </LINK>
    </TITLE>
    <TEXT>
        {{ article.title }}<br/>
        {{ article.created|timesince }} ago<br/>
    </TEXT>
    {% else %}
    <TITLE>
        <LINK href="{% url community_jobs article.slug %}?{{uuid}}">
            <TEXT>{{ article.title|truncatewords:10 }}</TEXT>
        </LINK>
    </TITLE>
    <TEXT>
        {{ article.description|truncatewords:10 }}<br/>
        {{article.get_provinces}}<br/>
        {{ article.created|timesince }} ago<br/>
        {% if article.owner.get_profile.fullname %}
            {{ article.owner.get_profile.fullname }}</a>
        {% else %}
            Anon.
        {% endif %}
    </TEXT>
    {% endif %}
    </CONTAINER>
</MODULE>
{% endfor %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if articles.has_previous %}
    <LINK href="{% url community_jobs %}?{{uuid}}&amp;page={{ articles.previous_page_number }}">
        <TEXT>Previous</TEXT>
    </LINK>
    {% endif %}
    {% if articles.has_next %}
    <LINK href="{% url community_jobs %}?{{uuid}}&amp;page={{articles.next_page_number}}">
        <TEXT>Next</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
{% endblock %}

