{% extends "base.xml" %}

{% block content %}
    <HEADER><LABEL>Community Board</LABEL></HEADER>
</MODULE>
{% for object in articles.object_list %}
    {% include 'opportunities/community_opportunity_listing.html' %}
{% endfor %}

<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% if articles.has_previous %}
    <LINK href="{% url community_jobs %}?{{uuid}}&amp;page={{ articles.previous_page_number }}">
        <TEXT>Previous</TEXT>
    </LINK>
    {% endif %}
    {% if articles.has_next %}
    <LINK href="{% url community_jobs %}?{{uuid}}&amp;page={{articles.next_page_number}}">
        <TEXT>Next</TEXT>
    </LINK>
    {% endif %}
</CONTAINER>
{% endblock %}

