{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={{request.path}}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove" role="MOD16">
<HEADER><LABEL>{{province_name}}</LABEL></HEADER>
<CONTAINER  type="list">
    {% for category in categories %}
        <LINK href="{% url jobs category.pk %}">
            <TEXT>{{category.title}} ({{category.articles_count}})</TEXT>
        </LINK>
    {% endfor %}
</CONTAINER>
<br/>
<CONTAINER  type="list">
    <LINK href="{% url jobs_list %}">
        <TEXT>&lt;&lt; Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
