{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Jobs</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={{request.path}}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    {% for key, category in categories %}
        <LINK href="{% url jobs key %}">
            <TEXT>{{category}}</TEXT>
        </LINK>
    {% endfor %}
</CONTAINER>
</MODULE>
<MODULE backgroundColor="false" palette="MiDove">
<HEADER><LABEL> </LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url jobs_list %}">
        <TEXT>&lt;&lt; Back</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
