{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>Add a job</LABEL></HEADER>
<CONTAINER type="data">
    <TEXT>Ummeli is unlike any other jobs network. We're a community of young
    people looking out for each other. You can help by adding jobs you have seen
    advertised in your community, or that you are not interested in yourself, but
    want to share so that others can apply. If you are a formal jobs provider, you
    are a VIP here on Ummeli and we welcome you to our community!
    <br/><br/></TEXT>
</CONTAINER>
<br/>
<CONTAINER type="data">
{{ form.errors_as_pml }}
</CONTAINER>
<CONTAINER  type="form">
    <FORM method="POST" href="{{request.path}}" submit_text="Save">
        <TEXT position="ABOVE">Province</TEXT>
        <SELECT name="province">
            <ITEM value="">Please select province</ITEM>
            {% for p in provinces %}
            <ITEM value="{{p.pk}}">{{p.name}}</ITEM>
            {% endfor %}
        </SELECT>
        <TEXT position="ABOVE">Category</TEXT>
        <SELECT name="category">
            <ITEM value="">Please select category</ITEM>
            {% for category in categories %}
            <ITEM value="{{category.title}}">{{category.title}}</ITEM>
            {% endfor %}
        </SELECT>

        <TEXT position="ABOVE">Job Title</TEXT>
        <FIELD name="title" type="text"/><br/>
        <TEXT position="ABOVE">Description<br/>
        Please provide as much information about the job as possible including
        contact details.
        </TEXT>
        <FIELD name="text" type="text"/><br/>
        <FIELD type='hidden' name='_action' value='POST' />
        <FIELD type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </FORM>
</CONTAINER>
<CONTAINER  type="list">
    <LINK href="{% url home %}">
        <TEXT>Cancel</TEXT>
    </LINK>
</CONTAINER>
{% endblock %}
