{% extends "base.xml" %}

{% block content %}
<HEADER><LABEL>{{category}}</LABEL></HEADER>
<CONTAINER type="list">
    <LINK href="{% url change_province %}?next={% url jobs_list %}">
        <TEXT>{{province}} (change)</TEXT>
    </LINK>
</CONTAINER>
</MODULE>
{% for article in object_list %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL> </LABEL></HEADER>
    <CONTAINER type="data">
    <TEXT>
    {% if article.is_community %}
    <color value="blue">***</color>
    {% endif %}
    <LINK href="{% url job article.slug %}">
        <TEXT>{{ article.description|truncatewords:10 }}</TEXT>
    </LINK>
    <br/>{{article.created|timesince}} ago
    </TEXT>
    </CONTAINER>
</MODULE>
{% endfor %}
<MODULE backgroundColor="false" palette="MiDove">
    <HEADER><LABEL>Page {{ articles.number }} of {{ articles.paginator.num_pages }}</LABEL></HEADER>
    <CONTAINER  type="list">
        {% if articles.has_previous %}
            <LINK href="{{request.path}}?page={{ articles.previous_page_number }}">
                <TEXT>Previous</TEXT>
            </LINK>
        {% endif %}

        {% if articles.has_next %}
            <LINK href="{{request.path}}?page={{ articles.next_page_number }}">
                <TEXT>Next</TEXT>
            </LINK>
        {% endif %}
        <LINK href="{% url jobs_list %}">
            <TEXT>&lt;&lt; Back</TEXT>
        </LINK>
    </CONTAINER>
{% endblock %}
