{% extends "base.html" %}

{% block content %}
    <div class="h2"><a href="{% url opportunities %}">Opportunities</a> &raquo; Jobs</div>
    <div class="list">
        Province: <strong><a href="{% url change_province %}?next={{request.path}}">{{province}} (change)</a></strong>
    </div>
    <div id="list">
    {% for key, category in categories %}
        <div><a href="{% url jobs key %}">{{category}}</a></div>
    {% endfor %}
    </div>
    <br/><div class="more"><a href="{% url opportunities %}">&larr; Back</a></div>
{% endblock %}
