{% extends "my_ummeli_base.html" %}

{% block content %}
<div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">My Profile</a> &raquo; <a href="{% url my_connections %}">My Connections</a> &raquo; add</div>
    <form class='content-form' method="post">
    <fieldset>
        <label>Industry</label>
        {% include "form_field_errors_snippet.html" with form_field=form.industry %}
        <select name="industry">    
            <option value="0">All</option>
            {% for skill in skills %}
                <option value="{{skill.pk}}">{{skill.word}}</option>
            {% endfor %}
        </select>
        <label>Province</label>
        {% include "form_field_errors_snippet.html" with form_field=form.province %}
        <select name="province">    
            <option value="0">All</option>
            {% for key, value in provinces %}
                <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
        
        <input type="submit" class="btn" value="Search" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}