{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2">Connect with <a href="{% url profile_view other_user_pk %}">{{other_user_profile.fullname}}</a></div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
    mollit anim id est laborum.
    </p>
        
    <form action='{% url add_connection other_user_pk%}' method='POST'>
        <input class="btn" type="submit" value="+ connect"/>
        <input type="hidden" name="next" value="{{next}}"/>
        {% csrf_token %}
        <br/>
    </form>
        
{% endblock %}
