{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2">
        <a href="{% url profile %}">Work Profile</a>
            &raquo; Connection Requests
    </div>
    {% if requests %}
        {% for other_user in requests %}
            <a href='{% url profile_view other_user.pk %}'>&rarr; {{ other_user.get_profile.fullname }}</a>
            <a href="{% url confirm_request other_user.pk %}?next={{request.path}}">[+ accept]</a>
            <a href="{% url reject_request other_user.pk %}?next={{request.path}}">[- reject]</a>
            <br/>
        {% endfor %}
    {% else %}
        0 connection requests.
    {% endif %}
    <br/>
{% endblock %}
