{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url profile %}">Profile</a> &raquo; <a href="{% url edit_basic %}">Basic info</a> &raquo; {{page_title}}</div>
    <form class='content-form' method="post">
    <fieldset>
        <div class="form-fields">{{ form}}</div>
        <input type="submit" class="btn" value="Save" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url edit_basic %}">&larr; Back</a></div>
{% endblock %}
