{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; My Jobs</div>
    <div class="h2">Jobs Posted</div>
        {% if object_list %}
        {% for item in object_list %}
            <div class="list"><a href='{% url my_jobs item.pk %}'>{{ item.title }}</a>
            <br/>
            <small>
                {{ item.date|date:"D, j M Y, H:i" }}
            </small>
            </div>
        {% endfor %}
        <br/>
        {% endif %}
        <div class="more"><a href="{% url jobs_create %}">+ Add another</a></div>
        <div class="more"><a href="{% url my_ummeli %}">&larr; Back</a></div>
    </form>
{% endblock %}
