{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; My Work</div>
        {% for item in object_list %}
            <div class="list">
            {% if item.primary %}
            <strong>
            <a href='{% url skills item.pk %}'>{{ item.skill }}</a> <span class="subtext">({{ item.get_level }})</span>
            </strong>
            {% else %}
            <a href='{% url skills item.pk %}'>{{ item.skill }}</a> <span class="subtext">({{ item.get_level }})</span> <a href='{% url skills_primary item.pk %}'>[Mark as Primary Role]</a>
            {% endif %}
            </div>
        {% endfor %}
        <br/>
        {% if object_list.count < 3 %} 
        <div class="more"><a href="{% url skills_new %}">+ Add another</a></div>
        {% endif %}
        <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}
