{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">My Profile</a> &raquo; {{page_title}}</div>
    <div class="h2">School Details</div>
    <form class='content-form' method="post" action="{% url edit_education %}">
    <fieldset>
        <label>Highest grade:</label>
        {% include "form_field_errors_snippet.html" with form_field=form.highest_grade %}
        <input name="highest_grade" type="text" class="txt" value="{% if user_profile.highest_grade %}{{user_profile.highest_grade}}{% endif %}"/>
        
        <label>Year:</label>
        {% include "form_field_errors_snippet.html" with form_field=form.highest_grade_year %}
        <input name="highest_grade_year" maxlength="4" type="text" class="txt" value="{% if user_profile.highest_grade_year %}{{user_profile.highest_grade_year}}{% endif %}"/>
        
        <label>School:</label>
        {% include "form_field_errors_snippet.html" with form_field=form.school %}
        <input name="school" type="text" class="txt" value="{% if user_profile.school %}{{user_profile.school}}{% endif %}"/>
        
        <input type="submit" class="btn" value="Save" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="h2">Other education</div>
    {% if object_list %}
    {% for item in object_list %}
        <div class="list"><a href='{% url profile %}{{list_name}}/{{ item.pk }}'>&rarr; {{ item }}</a></div>
    {% endfor %}
    <br/>
    {% endif %}
    <div class="more"><a href="{% url profile %}{{list_name}}/new">+ Add more eduction</a></div>
    <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}
