{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; My Connections</div>
    <div class="h2">Add Connections</div>
    <div class="list"><a href="#">Add connection by Name</a></div>
    <div class="list"><a href="#">Add connection by Industry</a></div>
    <div class="h2">Connection Requests</div>
    {% if user_profile.connection_requests.exists %}
        {% for user in user_profile.connection_requests.all %}
            <div class="list"><a href="{% url profile_view user.pk %}">{{user.get_profile.fullname}}</a></div>
        {% endfor %}
    {% else %}
        0 requests
    {% endif %}
    <div class="h2">My Connections</div>
        {% if request.user.get_profile.get_connections %}
            {% for node in request.user.get_profile.get_connections %}
                <div class="list"><a href='{% url profile_view node.user_id %}'>{{ node.name }}</a>{% if node.primary_skill %} <span class="subtext">{{node.primary_skill}}</span>{% endif %}</div>
            {% endfor %}
        {% else %}
            0 connections.
        {% endif %}
        <br/>
        <div class="more"><a href="{% url my_ummeli %}">&larr; Back</a></div>
{% endblock %}
