{% extends "my_ummeli_base.html" %}

{% block content %}
    <div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">My Profile</a> &raquo; Personal statement</div>
    <form class='content-form' method="post">
    <fieldset>
        A personal statement should give an indication of your personality, 
        talents and what your career aspirations are. 
            (Remember NO text slang e.g gud, gr8) <a href="#">Learn more..</a>
        <br/>
        <br/>
        <label>Personal statement:*</label>
        {% include "form_field_errors_snippet.html" with form_field=form.about_me %}
        <input name="about_me" type="text" class="txt" value="{{form.about_me.value}}"/>
        
        <input type="submit" class="btn" value="Save" name="submit" />
        {% csrf_token %}
    </fieldset>
    </form>
    <div class="more"><a href="{% url profile %}">&larr; Back</a></div>
{% endblock %}
