{% extends "base.html" %}

{% block content %}
    <div class="h2"><a href="{% url edit_personal %}">{{user_profile.fullname}}</a></div>
    <a href="{% url connections user.pk %}">Connections ({{num_connections}})</a></br/>
    <br/>
    <div class="h2">Contact details</div>
    <div class="list">
        {% if user_profile.house_number or user_profile.house_number or user_profile.house_number %}
        <span>
            {{user_profile.house_number}}, 
            {{user_profile.street_name}},
            {{user_profile.location}}
        </span><br/>
        {% endif %}
        {% if user_profile.telephone_number %}
        <span>[tel] </span>{{user_profile.telephone_number}}<br/>
        {% endif %}
        {% if user_profile.email %}
        <span>[email] </span>{{user_profile.email}}
        {% endif %}
    </div>
    <div><a href="{% url edit_basic %}">[edit]</a></div>
    
    <div class="h2">Skills</div>
    <div class="list">
        <div class="bullet">Skill 1</div>
        <div class="bullet">Skill 2</div>
        <div class="bullet">Skill 3</div>
    </div>
    <div><a href="#">[edit]</a></div>

    <div class="h2">Work experience</div>
    <div class="list">
        {% for exp in user_profile.work_experiences.all %}
        <div class="bullet">{{exp}}</div>
        {% endfor %}
    </div>
    <div><a href="{% url work_experience_list %}">[edit]</a></div>

    <div class="h2">Qualifications</div>
    <div class="list">
        {% for c in user_profile.certificates.all %}
        <div class="bullet">{{c}}</div>
        {% endfor %}
    </div>
    <div><a href="{% url certificate_list %}">[edit]</a></div>
{% endblock %}
