{% extends "my_ummeli_base.html" %}

{% block content %}
<div class="h2"><a href="{% url my_ummeli %}">My Ummeli</a> &raquo; <a href="{% url profile %}">Work Profile</a> &raquo; <a href="{% url profile %}">My Work</a> &raquo; new</div>
Select your field of work or interest.
<br/>
<br/>
{% for skill in skills %}
    <div class="list">
        <a href="{% url skills_new skill.pk %}">{{skill.word}}</a>
    </div>
{% endfor %}
<br/>
<div class="more"><a href="{% url skills %}">&larr; Back</a></div>
{% endblock %}