<div class="h2">Contact details</div>
<div class="list">
    {% if a_user_profile.house_number or a_user_profile.house_number or a_user_profile.house_number %}
    <span>
        {{a_user_profile.house_number}}, 
        {{a_user_profile.street_name}},
        {{a_user_profile.location}}
    </span><br/>
    {% endif %}
    {% if a_user_profile.telephone_number %}
    <span>[tel] </span>{{a_user_profile.telephone_number}}<br/>
    {% endif %}
    {% if a_user_profile.email %}
    <span>[email] </span>{{a_user_profile.email}}
    {% endif %}
</div>

{% if a_user_profile.work_experiences.all %}
<div class="h2">Work experience</div>
{% for exp in a_user_profile.work_experiences.all %}
<div class="list">{{exp}}</div>
{% endfor %}            
{% endif %}

{% if a_user_profile.certificates.all %}
<div class="h2">Qualifications</div>
{% for c in a_user_profile.certificates.all %}
<div class="list">{{c}}</div>
{% endfor %}
{% endif %}